<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
        ul
            li
                a(href="/vuta") Vuta Project
            li
                a(href="") ANT Project
            li
                a(href="") Jobs Project