aside.about-asider
    ul.nolist.d-flex.flex-column.align-items-stretch
        li
            a(href="#") Giới thiệu về VUTA
        li
            a(href="#") Giới thiệu về Nhân sự
        li
            a(href="#") Giới thiệu về Giảng Viên
        li
            a(href="#") Giới thiệu về đối tác liên kết
        li
            a(href="#") Giới thiệu về doanh nghiệp vũng tàu
