footer.footer.py-4
    .container.py-lg-5.py-md-4.py-3
        .row
            .col-md-4.col-sm-6.order-1.mb-3
                h2.text-large.text-white.font-weight-bold.text-uppercase VUTA Connect
                ul.nolist.footer-list
                    li
                        a(href="#")
                            span ANT Education
                    li
                        a(href="#")
                            span JOBS Center
                    li
                        a(href="#")
                            span Real Center
                    li
                        a(href="#")
                            span Travel
                    li
                        a(href="#")
                            span Advisory
                    li
                        a(href="#")
                            span Trading
                    li
                        a(href="#")
                            span Events
                    li
                        a(href="#")
                            span News
            .col-md-4.col-sm-6.order-1.mb-3
                h2.text-large.text-white.font-weight-bold.text-uppercase VUTA About
                ul.nolist.footer-list
                    li
                        a(href="#")
                            span ANT Education
                    li
                        a(href="#")
                            span JOBS Center
                    li
                        a(href="#")
                            span Real Center
                    li
                        a(href="#")
                            span Travel
                    li
                        a(href="#")
                            span Advisory
                    li
                        a(href="#")
                            span Trading
                    li
                        a(href="#")
                            span Events
                    li
                        a(href="#")
                            span News
            .col-md-4.order-md-2.mb-3
                h2.text-large.text-white.font-weight-bold.text-uppercase
                    | Công ty TNHH Đào tạo ANT
                address.text-white
                    dl
                        dd 
                            i.fa.fa-map-marker.fa-fw
                            |Tầng 3, Edyco Building, 102A Lê Hồng Phong, Phường 4, Vũng Tàu, Bà Rịa - Vũng Tàu
                        dd
                            i.fa.fa-phone.fa-fw
                            |(+84) 254 627 5555 - (+84) 2547 300 400
                        dd    
                            i.fa.fa-envelope.fa-fw
                            |design@vutatech.vn
            .col-md-6.order-3.mb3
                h2.text-large.text-white.font-weight-bold.text-uppercase VUTA Fanpage
            .col-md-6.order-3.mb3
                h2.text-large.text-white.font-weight-bold.text-uppercase VUTA Maps


