.container
    .row.align-items-center
        .col-lg-2.col-10
            a(href="/vuta").header-logo
                img(src="/themes/vuta/images/logo/logo.png", alt="")
        .col-2.d-lg-none.text-right
            a(href="#" data-menu=".aside-menu")
                i.fa.fa-bars.fa-lg
        .col-lg-10.text-md-right
            ul.nolist.d-md-inline-flex.aside-menu.text-lg-center.text-left
                li.dropdown
                    a(href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") About Us
                    .dropdown-menu
                        ul.nolist.d-flex.flex-column
                            li.dropdown-item
                                a(href="#") Giới thiệu về VUTA
                            li.dropdown-item
                                a(href="#") Giới thiệu về Nhân sự
                            li.dropdown-item
                                a(href="#") Giới thiệu về Giảng Viên
                            li.dropdown-item
                                a(href="#") Giới thiệu về đối tác liên kết
                            li.dropdown-item
                                a(href="#") Giới thiệu về doanh nghiệp vũng tàu
                li
                    a(href="#") ANT Education
                li
                    a(href="#") JOBS Center
                li
                    a(href="#") Real Center
                li
                    a(href="#") Travel
                li
                    a(href="#") Advisory
                li
                    a(href="#") Trading
                li
                    a(href="#") Events
                li
                    a(href="#") News
