.header-video
    video#header-video(playsinline, autobuffer, loop, muted, autoplay, width="100%")
        source(src="/themes/vuta/videos/video-2.mp4", type="video/mp4")
        source(src="/themes/vuta/videos/video-2.webm", type="video/webm")
    .header-introl
        h1.header-title Vũng tàu có gì
        a.header-btn(href="#service" move_scroll="#service") Xem Thêm
        .d-block.header-next_icon.text-white
            i.fa.fa-angle-down.fa-2x.d-block
            i.fa.fa-angle-down.fa-2x.d-block