include ./components/var
<!DOCTYPE html>
html(lang="en")
    head
    <meta http-equiv="Content-Security-Policy" content="default-src *; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'; img-src * data: 'unsafe-inline'; connect-src * 'unsafe-inline'; frame-src *;">
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(rel="stylesheet", href="/themes/vuta/css/bootstrap.min.css")
        link(rel="stylesheet", href="/themes/vuta/css/font-awesome.css")
        link(rel="stylesheet", href="/themes/vuta/css/slick.css")
        link(rel="stylesheet", href="/themes/vuta/css/slick-theme.css")
        link(rel="stylesheet", href="/themes/vuta/css/vuta.css")
        block css
    body
        #app
            header
                nav#navbar
                    .container
                        include ./components/navbar
            main
                section
                    div.container(data-sticky)
                        .row
                            .col-md-3.about-aside.d-lg-block.d-none
                                include ./components/about_sider
                            .col-md-9
                                block content
            include ./components/footer
            #overlay(data-toggle=".aside-menu")
        script(src="/themes/vuta/js/jquery.slim.min.js")
        script(src="/themes/vuta/js/popper.min.js")
        script(src="/themes/vuta/js/bootstrap.min.js")
        script(src="/themes/vuta/js/slick.min.js")
        script(src="/themes/vuta/js/vuta.js")
        block js