.fitimg
    img(src='https://www.pqe.com.vn/websites/images/about/greetings1.jpg', alt='pqgreetings1')
    br
    br
    p
        | Việt Nam là quốc gia có bờ biển trải dọc theo suốt chiều dài đất nước hình chữ S, sở hữu nhiều vùng đảo đông dân cư với những tiềm năng kinh tế vô cùng lớn. Kết nối những hải đảo xa xôi của Tổ quốc và đất liền luôn là một nhiệm vụ khó khăn nhưng vô cùng cần thiết cho phát triển kinh tế - địa chính trị. Hiểu rõ những thách thức đó, Phú Quốc Express đã nỗ lực hết mình để mang mô hình vận tải hành khách chất lượng nhất hiện có trên thế giới về phục vụ cho người dân và du khách khi tới biển đảo quê hương.

    p
            | Đảo Phú Quốc được mệnh danh là hòn đảo ngọc, là đặc khu kinh tế trọng điểm của cả nước, đang trên đà phát triển mạnh mẽ ra tầm Đông Nam Á và châu lục. Tuy nhiên, hiện nay đường hàng không tại Phú Quốc còn hạn chế về cơ sở hạ tầng, giới hạn về số lượng hành khách, đường thủy với các  tàu vận chuyển cao và trung tốc đa số đã cũ và sử dụng những công nghệ trên 20 năm là những cản trở lớn trong việc phát triển kinh tế - du lịch của đảo ngọc.
.fitimg
    img(src='https://www.pqe.com.vn/websites/images/about/greetings2.jpg', alt='pqgreetings2')
br
br
br
.fitimg
    img(src='https://www.pqe.com.vn/websites/images/about/greetings4.jpg', alt='pqgreetings3')
.col-md-7
    p
        | Với mong muốn người Việt Nam, khách du lịch đến Việt Nam được tận hưởng chất lượng cuộc sống cao, môi trường tốt và dịch vụ hoàn hảo nhất, chúng tôi đã đưa vào khai thác tại Phú Quốc loại hình tàu với công nghệ hiện đại, tiên tiến nhất của thế giới hiện nay: Tàu cao tốc hai thân vận chuyển hành khách đường biển, với chất lượng kỹ thuật và độ an toàn Châu Âu, sử dụng thiết bị động lực của Rolls Royce, dịch vụ cao cấp chuẩn 5☆ với giá vé hợp lý nhất cho hành khách.
    p
        | Không chỉ dừng lại ở đảo Phú Quốc, Công ty chúng tôi sẽ đưa các bạn đặt chân tới các biển đảo khác trên lãnh thổ Việt Nam và khu vực, nhằm tiếp tục mang đến cho hành khách những trải nghiệm tuyệt vời nhất trên biển với tàu cao tốc hai thân của Phú Quốc Express.
