section
    .container.py-lg-5.py-md-4.py-3
        .row.align-items-center.flex-column
            .col-md-6.text-center
                h2.text-center.text-xlarge.font-weight-bold.text-dark-green Giới thiệu đại lý sao kim cương
                .line-more
                    i.fa.fa-angle-down.fa-2x.p-1.text-dark-green
        .row.align-items-stretch.mt-3.auto-margin-b-1
            - let address = 1
            while address < 5
                .col-lg-3.col-md-4.col-sm-6.col-12
                    .bg-muted.border.border-muted.main-address
                        h3.text-large.font-weight-bold.border-bottom.border-muted.p-3.main-address_title Trụ sở chính Phú Quốc
                        address.p-3.main-address_content
                            dl
                                dd
                                    i.fa.fa-map.fa-fw.text-primary
                                    span 15 Trần Hưng Đạo, Khu phố 7, thị trấn Dương Đông, huyện Phú Quốc, tỉnh Kiên Giang
                                dd
                                    i.fa.fa-phone.fa-fw.text-primary
                                    span 0297.6281.888
                                dd
                                    i.fa.fa-phone.fa-fw.text-primary
                                    span 0901.868.880
                            - address ++
section.footer.bg-dark-green
    .container.pt-lg-5.pt-md-4.pt-3
        .text-white.pb-3.border-green-bottom
            | © 2018 Phú Quốc Express JSC. All Rights Reserved.
            br
            | CỔNG THÔNG TIN ĐIỆN TỬ - CÔNG TY CỔ PHẦN TÀU CAO TỐC PHÚ QUỐC
            br
            | Mã số doanh nghiệp: 1702067575,  Phòng đăng ký kinh doanh – Sở Kế hoạch và Đầu tư tỉnh Kiên Giang, cấp ngày 31 tháng 10 năm 2016
            br
            | Địa chỉ: 15 Trần Hưng Đạo, Khu phố 7, thị trấn Dương Đông, huyện Phú Quốc, tỉnh Kiên Giang, Việt Nam.
            br
            | Điện thoại: 0283.8733.686     Mobile: 0901.868.878     Email: info@pqe.vn
        .row.align-items-center
            .col-md-6.text-center.text-lg-left.py-3
                ul.d-inline-flex.nolist
                    li
                        a(href="#")
                            span.fa-stack.fa-lg
                                i.fa.fa-circle.fa-stack-2x
                                i.fa.fa-facebook.fa-stack-1x.fa-inverse
                    li
                        a(href="#")
                            span.fa-stack.fa-lg
                                i.fa.fa-circle.fa-stack-2x
                                i.fa.fa-google.fa-stack-1x.fa-inverse
                    li
                        a(href="#")
                            span.fa-stack.fa-lg
                                i.fa.fa-circle.fa-stack-2x
                                i.fa.fa-youtube.fa-stack-1x.fa-inverse
                    li
                        a(href="#")
                            span.fa-stack.fa-lg
                                i.fa.fa-circle.fa-stack-2x
                                i.fa.fa-instagram.fa-stack-1x.fa-inverse
            .col-md-6.text-lg-right.text-center
                a.d-inline-block.bct(href="#")
                    img(src="https://www.pqe.com.vn/websites/images/dathongbao.png", alt="")

