header.sticky-top
    .container-fluid(target-height)
        .row.align-items-center.align-items-lg-stretch
            a.col-md-3.col-sm-4.d-block.header-logo.text-lg-left.text-center(href="#")
                img.my-auto(src=img+"pqe.png", alt="")
            .flex-grow-1.d-flex.flex-row.justify-content-lg-end.bg-lg-green.header-menu.pl-lg-3.pr-lg-0.px-0
                nav.header-navbar
                    ul.d-inline-flex.nolist.h-100
                        li
                            a(href="#")
                                i.fa.fa-home
                                span Trang Chủ
                        li
                            a(href="#")
                                i.fa.fa-list-alt
                                span Giới thiệu
                        li
                            a(href="#")
                                i.fa.fa-newspaper-o
                                span Tin Tức
                        li
                            a(href="#")
                                i.fa.fa-question-circle-o 
                                span Liên hệ
                aside.header-aside
                    ul.d-lg-inline-flex.nolist
                        li
                            a(href="#") 
                                i.fa.fa-table
                                span Bảng giá vé
                        li
                            a(href="#")
                                i.fa.fa-tags
                                span Đặt vé
                        li.d-lg-none.text-center
                            a(href="#", data-toggle=".header-navbar")
                                i.fa.fa-bars
                                span Menu