header.header(data-sticky-target)
    .container
        nav.header-navbar.row.align-items-stretch
            .col-md-2.col-3.px-lg-3.px-0
                a.d-flex.header-logo.py-1.align-items-center.justify-content-lg-start.justify-content-center.h-100(href="#")
                    picture
                        source(media="(min-width: 768px)", srcset=img+"logo.png")
                        source(media="(max-width: 767px)", srcset=img+"logo-sm.png")
                        img(src=img+"logo.png", alt="")
            .col-9.d-md-none.px-0
                ul.d-flex.nolist.align-items-stretch.aside-sm.flex-nowrap.h-100
                    li
                        a.d-flex.align-items-center.flex-column.h-100(href="#")
                            .d-flex.align-items-center.justify-contents-center
                                i.col.fa.fa-table.fa-lg
                            .d-flex.align-items-center.justify-contents-center
                                span.col Bảng giá vé
                    li
                        a.d-flex.align-items-center.flex-column.h-100(href="#")
                            .d-flex.align-items-center.justify-contents-center
                                i.col.fa.fa-question-circle-o.fa-lg
                            .d-flex.align-items-center.justify-contents-center
                                span.col Liên hệ
                    li
                        a.d-flex.align-items-center.flex-column.h-100(href="#", data-toggle="#header-menu")
                            .d-flex.align-items-center.justify-contents-center
                                i.col.fa.fa-bars.fa-lg
                            .d-flex.align-items-center.justify-contents-center
                                span.col Menu
            .col-md-10.col-12.struct-right
                .header-contact.font-weight-bold.d-flex.align-items-center.justify-content-md-end.justify-content-center
                    a.text-white.d-inline-block(href="tel:0908268968") Tổng đài đặt vé: 0908 268 968
                ul#header-menu.nolist.header-menu.d-flex.flex-md-row.flex-column.justify-content-end.align-items-md-center
                    li
                        a(href="#")
                            i.fa.fa-fw.fa-home
                            span Trang Chủ
                    li
                        a(href="#")
                            i.fa.fa-fw.fa-list-alt
                            span Giới thiệu
                    li
                        a(href="#")
                            i.fa.fa-fw.fa-newspaper-o
                            span Tin Tức
                    li
                        a(href="#") 
                            i.fa.fa-fw.fa-table
                            span Bảng giá vé
                    li
                        a(href="#")
                            i.fa.fa-fw.fa-question-circle-o 
                            span Liên hệ


