nav.mt-3(aria-label='Page navigation example')
    ul.pagination.justify-content-md-start.justify-content-center
        li.page-item
            a.page-link(href='#') Previous
        li.page-item
            a.page-link(href='#') 1
        li.page-item
            a.page-link(href='#') 2
        li.page-item
            a.page-link(href='#') 3
        li.page-item
            a.page-link(href='#') Next