#header_slider.carousel.slide.header-slider(data-ride="carousel")
    .carousel-inner
        - slider = 1
        while slider < 7
            .carousel-item(class=(slider == 1 ? 'active' : ''))
                .slider-bg(style="background-image: url('https://www.pqe.com.vn/websites/images/slider/home/slider-"+slider+".jpg')")
            - slider++
    a.carousel-control-prev(href='#header_slider', role='button', data-slide='prev')
        span.fa.fa-angle-left.fa-4x(aria-hidden='true')
        span.sr-only Previous
    a.carousel-control-next(href='#header_slider', role='button', data-slide='next')
        span.fa.fa-angle-right.fa-4x(aria-hidden='true')
        span.sr-only Next