form(action="#", method="post")
    .ticket-order_header
        h2.text-normal.ticket-order_title.ticket-order_icon
            i.fa.fa-tags.icon
            span.text Đặt Vé Online
    .ticket-order_body
        .row
            .col-md-6.col-6.pr-md-3.pr-1
                .form-group
                    label(for="start") Ngày khởi hành
                    .input-group
                        .input-group-prepend
                            span#start-addon.input-group-text
                                i.fa.fa-plane.fa-lg
                        input#start.form-control(type="date", name="start", placeholder='Ngày khởi hành', aria-label='start', aria-describedby='start-addon')
            .col-md-6.col-6.pl-md-3.pl-1
                .form-group
                    label(for="ticket-type") Vào lúc
                    .input-group
                        .input-group-prepend
                            span#ticket-type-addon.input-group-text
                                i.fa.fa-clock-o.fa-lg
                        input#ticket-type.form-control(type="time", name="ticket-type", placeholder='Vào lúc', aria-label='ticket-type', aria-describedby='ticket-type-addon')
        .row
            .col-md-6.col-6.pr-md-3.pr-1
                .form-group
                    label(for="start") Ngày trở về
                    .input-group
                        .input-group-prepend
                            span#end-addon.input-group-text
                                i.fa.fa-plane.fa-lg
                        input#end.form-control(type="date", name="end", placeholder='Ngày trở về', aria-label='end', aria-describedby='end-addon')
            .col-md-6.col-6.pl-md-3.pl-1
                .form-group
                    label(for="start-time") Vào lúc
                    .input-group
                        .input-group-prepend
                            span#end-time-addon.input-group-text
                                i.fa.fa-clock-o.fa-lg
                        input#end-time.form-control(type="time", name="end-time", placeholder='Vào lúc', aria-label='end-time', aria-describedby='end-time-addon')
        .row
            .col-md-6.col-6.pr-md-3.pr-1
                .form-group
                    label(for="start") Số lượng khách
                    .input-group
                        .input-group-prepend
                            span#users-addon.input-group-text
                                i.fa.fa-users.fa-lg
                        input#users.form-control(type="number", name="users", placeholder='Số khách', aria-label='users', aria-describedby='users-addon')
            .col-md-6.col-6.pl-md-3.pl-1
                .form-group
                    label(for="ticket-type") Loại Vé
                    .input-group
                        .input-group-prepend
                            span#end-time-addon.input-group-text
                                i.fa.fa-clock-o.fa-lg
                        select#ticket-type.form-control(name="ticket-type", placeholder='Loại Vé', aria-label='ticket-type', aria-describedby='ticket-type-addon')
                            option(value="0", readonly, selected) Loại vé
                            option(value="1") Vé đại gia
                            option(value="2") Vé tiểu thương
                            option(value="3") Vé bình dân
    .ticket-order_footer
        button:submit.btn.btn-success.btn-lg.btn-block.rounded-0 Đặt vé ngay