extends ../layout
block append title
    title About Page
block content
    include ../components/slider
    include ../components/breadcrumb
    section(data-sticky)
        .container-fluid.py-lg-5.py-md-4.py-3
            .row.align-items-center.flex-column
                .col-md-6.text-center
                    h1.text-center.text-xlarge.font-weight-bold.text-dark-green 
                        |Giới thiệu
                        br
                        |Cty Sao Kim Cương
                    .line-more
                        i.fa.fa-angle-down.fa-2x.p-1.text-dark-green
    
    article.bg-light.py-3
        .container-fluid
            include ../components/demo_post
    section
        .container-fluid.py-lg-5.py-md-4.py-3
            .row.align-items-center.flex-column
                .col-md-6.text-center
                    h1.text-center.text-xlarge.font-weight-bold.text-dark-green 
                        |Dịch Vụ
                        br
                        |Của Sao Kim Cương
                    .line-more
                        i.fa.fa-angle-down.fa-2x.p-1.text-dark-green
            .service-slider
                .swiper-container
                    .swiper-wrapper.py-3
                        - var slider_service = 1
                        while slider_service < 6
                            .swiper-slide.px-3
                                .row.align-items-center
                                    .col-md-4
                                        img(src="http://genknews.genkcdn.vn/2019/1/22/group-1-15481731374952040572101.jpg", alt="")
                                    .col-md-8.text-small
                                        | Nếu như Apple đã sáng tạo ra chiếc “modern smartphone” bằng cách chọn màn hình làm yếu tố giao tiếp duy nhất giữa thiết bị và người dùng thì Samsung lại luôn là kẻ cách mạng hóa smartphone bằng cách đưa ra những thay đổi choáng ngợp trên màn hình.
                                    - slider_service++
                    .swiper-button-prev
                    .swiper-button-next