extends ../layout
block append title
    title Contact Page
block content
    include ../components/slider
    include ../components/breadcrumb
    section(data-sticky)
        .container-fluid.py-4
            .row.align-items-center.flex-column
                .col-md-8.text-center
                    h1.text-center.text-xlarge.font-weight-bold.text-dark-green 
                        |Hỗ Trợ
                        br
                        |Khách Hàng
                    .line-more
                        i.fa.fa-angle-down.fa-2x.p-1.text-dark-green
            .d-flex
                .col-md-4.bg-dark-green.py-4
                    form(action="", method="post").contact-form
                        .form-group.border-bottom.border-muted
                            .row.align-items-center
                                .col-md-4.pr-md-0
                                    label.w-100(for="name") Họ Tên
                                .col-md-8
                                    input#name.form-control.border-0(type="text")
                        .form-group.border-bottom.border-muted
                            .row.align-items-center
                                .col-md-4.pr-md-0
                                    label.w-100(for="phone") Số điện thoại
                                .col-md-8
                                    input#phone.form-control.border-0(type="number")
                        textarea.form-control(placeholder="Vui lòng gửi vấn đề cần hổ trợ")
                        .border-top.border-white.pt-3.text-center
                            button.btn.btn-light.btn-block(type="submit") Yêu cầu hỗ trợ
                iframe.col-md-8(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3926.5843100525185!2d103.95724441402614!3d10.21437259270437!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a78c87e01eea53%3A0x2d718fe93ee02b5f!2zMTUgxJDGsOG7nW5nIFRy4bqnbiBIxrBuZyDEkOG6oW8sIFRULiBExrDGoW5nIMSQw7RuZywgUGjDuiBRdeG7kWMsIHThu4luaCBLacOqbiBHaWFuZywgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1548930460825', style='border:0', allowfullscreen='', width='100%', frameborder='0')
