extends ../layout
block append title
    title Home Page
block content
    .relative
        include ../components/slider
    section(data-sticky)
        .container.py-lg-5.py-md-4.py-3
            .row.align-items-center.flex-column
                .col-md-6.text-center
                    h2.text-center.text-xlarge.font-weight-bold.text-dark-green.text-uppercase Đại lý vé Sao Kim Cương
                    p.my-0.text-secondary 
                        b Phân phối tàu Phú Quốc Express các tuyến
                    .line-more
                        i.fa.fa-angle-down.fa-2x.p-1.text-dark-green
            .row.justify-content-center
                .col-md-10
                    ul.nolist.d-flex.flex-column.auto-margin-y-2
                        li.row.text-center.align-items-center.border-bottom.border-muted
                            .col-md-5.col-5
                                img.d-md-inline-block.d-none.w-100(src="https://xemiennam.vn/wp-content/uploads/2019/01/vu%CC%83ng-ta%CC%80u.jpg", alt="")
                                .text-xlarge.font-weight-bold Vũng Tàu
                            .col-md-2.col-2.px-md-3.px-0
                                i.fa.fa-arrows-h.fa-4x.text-green
                            .col-md-5.col-5
                                img.d-md-inline-block.d-none.w-100(src="https://du-lich.chudu24.com/f/m/1702/24/3.jpg", alt="")
                                .text-xlarge.font-weight-bold Côn Đảo
                        li.row.text-center.align-items-center.border-bottom.border-muted
                            .col-md-5.col-5
                                img.d-md-inline-block.d-none.w-100(src="https://mytourcdn.com/upload_images/Image/Location/29_10_2015/du-lich-rach-gia-co-gi-choi-mytour-2.jpg", alt="")
                                .text-xlarge.font-weight-bold Rạch Giá
                            .col-md-2.col-2.px-md-3.px-0
                                i.fa.fa-arrows-h.fa-4x.text-green
                            .col-md-5.col-5
                                img.d-md-inline-block.d-none.w-100(src="http://dulichbuocchanvanhoa.com/file/2016/12/du-lich-phu-quoc-DL-B%C6%B0%E1%BB%9Bc-Ch%C3%A2n-V%C4%83n-H%C3%B3a.jpg", alt="")
                                .text-xlarge.font-weight-bold Phú Quốc
                        li.row.text-center.align-items-center
                            .col-md-5.col-5
                                img.d-md-inline-block.d-none.w-100(src="https://mytourcdn.com/upload_images/Image/Location/29_10_2015/du-lich-rach-gia-co-gi-choi-mytour-2.jpg", alt="")
                                .text-xlarge.font-weight-bold Rạch Giá
                            .col-md-2.col-2.px-md-3.px-0
                                i.fa.fa-arrows-h.fa-4x.text-green
                            .col-md-5.col-5
                                img.d-md-inline-block.d-none.w-100(src="https://staticproxy.mytourcdn.com/480x360,q90/resources/pictures/locations/yet1408445652.jpg", alt="")
                                .text-xlarge.font-weight-bold Phú Quốc
            .text-center
                a.btn.btn-danger.btn-lg(href="#")
                    h3 Tổng Đài Đặt Vé
                        br
                        | 0908 268 968
    section
        .container.py-lg-5.py-md-4.py-3
            .row.align-items-center.flex-column
                .col-md-6.text-center
                    h2.text-center.text-xlarge.font-weight-bold.text-dark-green.text-uppercase Tàu Phú Quốc Express 36
                    .line-more
                        i.fa.fa-angle-down.fa-2x.p-1.text-dark-green
            article
                img.w-100(src="https://i.ytimg.com/vi/2dmnageR9sI/maxresdefault.jpg", alt="")
                p.text-secondary Nếu như Apple đã sáng tạo ra chiếc “modern smartphone” bằng cách chọn màn hình làm yếu tố giao tiếp duy nhất giữa thiết bị và người dùng thì Samsung lại luôn là kẻ cách mạng hóa smartphone bằng cách đưa ra những thay đổi choáng ngợp trên màn hình. Trong suốt 10 năm, những cuộc cách mạng như màn hình lớn, màn hình vát, tỷ lệ 18:9 hay OLED đều do Samsung khởi xướng. Năm 2019 sẽ chứng kiến gã khổng lồ Hàn Quốc tiếp tục hành trình vẻ vang này bằng thiết kế “nốt ruồi”, chấm dứt kỷ nguyên “khoét rãnh” do Essential và Apple mở ra vào năm ngoái.
    section
        .container.py-lg-5.py-md-4.py-3
            .row.align-items-center.flex-column
                .col-md-6.text-center
                    h2.text-center.text-xlarge.font-weight-bold.text-dark-green.mb-0 Tin Tức
                    .line-more
                        i.fa.fa-angle-down.fa-2x.p-1.text-dark-green
            .row
                .col-md-6.py-lg-5.py-md-4.py-3
                    .main-news
                        .main-news_header
                            a.main-news_thumb(href="#")
                                img(src="http://genknews.genkcdn.vn/2019/1/22/group-1-15481731374952040572101.jpg", alt="")
                            h2.main-news_title
                                a(href="#") CEO Tim Cook thừa nhận Apple đã đặt mức giá quá cao cho iPhone mới
                        .main-news_body
                            p Nếu như Apple đã sáng tạo ra chiếc “modern smartphone” bằng cách chọn màn hình làm yếu tố giao tiếp duy nhất giữa thiết bị và người dùng thì Samsung lại luôn là kẻ cách mạng hóa smartphone bằng cách đưa ra những thay đổi choáng ngợp trên màn hình. Trong suốt 10 năm, những cuộc cách mạng như màn hình lớn, màn hình vát, tỷ lệ 18:9 hay OLED đều do Samsung khởi xướng. Năm 2019 sẽ chứng kiến gã khổng lồ Hàn Quốc tiếp tục hành trình vẻ vang này bằng thiết kế “nốt ruồi”, chấm dứt kỷ nguyên “khoét rãnh” do Essential và Apple mở ra vào năm ngoái.
                .col-md-6.bg-light.py-lg-5.py-md-4.py-3.d-flex.flex-lg-column.flex-md-row.flex-wrap.flex-column
                    - let news_post = 1
                    while news_post < 5
                        .main-news_sub
                            a.main-news_thumb(href="#")
                                img(src="http://genknews.genkcdn.vn/thumb_w/660/2019/1/30/photo-1-15488174938121964185141.jpg", alt="")         
                            .main-news_content
                                h3.main-news_title
                                    a(href="#") Trung Quốc góp công lớn khiến cho doanh số bán iPhone của Apple sụt giảm 
                                small.text-muted
                                    i.fa.fa-clock-o.fa-fw
                                    span 01/01/2019
                            - news_post++   
    