extends ../layout
block append title
    title News Page
block content
    include ../components/slider
    include ../components/breadcrumb
    section(data-sticky)
        .container-fluid
            .row
                .col-lg-9
                    - let news_post = 1
                    while news_post < 5
                        .main-news_sub  
                            a.main-news_thumb(href="#")
                                img(src="http://genknews.genkcdn.vn/thumb_w/660/2019/1/30/photo-1-15488174938121964185141.jpg", alt="")         
                            .main-news_content
                                h3.main-news_title
                                    a(href="#") Trung Quốc góp công lớn khiến cho doanh số bán iPhone của Apple sụt giảm 
                                p.main-news_desc Trung Quốc là thị trường smartphone lớn nhất thế giới, đối với Apple thì đây cũng là thị trường vô cùng quan trọng. Tuy nhiên trong Q4/2018 vừa qua, thị trường Trung Quốc lại góp công lớn khiến cho doanh số bán iPhone của Apple sụt giảm
                            - news_post++   
                    include ../components/pagination
                .col-md-3
                    ul.nolist.auto-margin-b-1
                        li
                            a(href="#")
                                img(src="https://asuevents.asu.edu/sites/default/files/newsletter_banner_vertical_3.png", alt="")