extends ../layout
block append title
    title News Detail Page
block content
    include ../components/slider
    include ../components/breadcrumb
    section(data-sticky)
        .container-fluid
            h1.text.large.text-dark-green.font-weight-bold.text-left.mb-0 Google thực hiện những bước đầu tiên nhằm xóa sổ URL 
            ul.nolist.d-flex.text-muted.pb-3.border-bottom.border-muted.auto-margin-r-1
                li.p-2
                    small
                        i.fa.fa-clock-o.fa-fw
                        span 01/02/2019 - 09:20
                li.p-2
                    small
                        i.fa.fa-tag.fa-fw
                        span news
            article.py-3
                p Các nhà nghiên cứu thực ra không ủng hộ một thay đổi đối với cơ sở hạ tầng nền tảng của web như vậy. Tuy nhiên, họ lại muốn định nghĩa lại cách mà các trình duyệt tìm ra trang web bạn muốn đến, nhờ đó bạn không phải tốn công sức với các địa chỉ URL ngày một dài và khó hiểu, cùng với những mánh khóe lừa đảo lợi dụng sự bất cập này. Tại hội thảo bảo mật Bay Area Enigma hôm thứ Ba vừa rồi, trưởng nhóm bảo mật Chrome, Emily Stark, đã gây xôn xao khán phòng khi đề cập chi tiết đến những bước đi đầu tiên mà Google đang thực hiện để hướng đến mục tiêu nhận dạng trang web tốt hơn.
                p Stark nhấn mạnh rằng Google không muốn gây ra những hỗn loạn không đáng có sau khi xóa sổ URL. Thay vào đó, họ muốn khiến các hacker gặp khó khăn hơn trong việc lợi dụng sự bối rối của người dùng về danh tính jsaủa một trang web. Hiện nay, những URL dài dòng với nội dung khó hiểu đang vô tình tạo nên vỏ bọc cho những thủ đoạn lừa đảo tinh vi của những kẻ tấn công. Chúng có thể tạo ra một đường link độc hại, mới xem qua tưởng chừng dẫn đến một trang web "chính chủ", nhưng thực ra lại tự động tái điều hướng nạn nhân đáng một trang lừa đảo k hác. Hoặc chúng có thể thiết kế những trang web nguy hiểm với địa chỉ URL trông tương tự những trang web thật, chờ đợi nạn nhân sơ suất không chú ý (ví dụ, họ đang truy cập G00gle thay vì Google) để ra tay. Vì phải đối mặt với quá nhiều vấn đề liên quan URL, nhóm phát triển Chrome đã quyết định chia đôi, làm việc trong 2 dự án song song nhau nhằm mục tiêu mang đến cho người dùng sự minh bạch khi lướt web.

    section.bg-light
        .container-fluid.py-4
            .row.align-items-center.flex-column
                .col-md-8.text-center
                    h1.text-center.text-xlarge.font-weight-bold.text-dark-green 
                        |Tin tức
                        br
                        |liên quan
                    .line-more
                        i.fa.fa-angle-down.fa-2x.p-1.text-dark-green
            .row.auto-margin-b-1
                .col-md-3
                    .recent-post
                        a.d-block.recent-post_thumb(href="#")
                            img(src="http://genknews.genkcdn.vn/2019/2/1/photo-1-15489865894291336411673.jpg", alt="")
                        a.d-block.pt-1(href="#")
                            h2.recent-post_title.text-normal.text-success.font-weight-bold LG công bố lợi nhuận kỷ lục trong năm 2018 nhưng mảng di động vẫn tiếp tục thua lỗ 700 triệu USD
                        p.text-small.text-dark.recent-post_desc Mới đây, LG Electronics đã công bố doanh thu năm 2018 và mọi con số đều ấn tượng trừ doanh thu/lợi nhuận của mảng di động. LG đã đạt tới 54,4 tỷ USD doanh thu và 2,4 tỷ USD lợi nhuận. So với năm 2017, lợi nhuận của LG năm vừa qua tăng 10%.
                .col-md-3
                    .recent-post
                        a.d-block.recent-post_thumb(href="#")
                            img(src="http://genknews.genkcdn.vn/2019/2/1/photo-1-15489865894291336411673.jpg", alt="")
                        a.d-block.pt-1(href="#")
                            h2.recent-post_title.text-normal.text-success.font-weight-bold LG công bố lợi nhuận kỷ lục trong năm 2018 nhưng mảng di động vẫn tiếp tục thua lỗ 700 triệu USD
                        p.text-small.text-dark.recent-post_desc Mới đây, LG Electronics đã công bố doanh thu năm 2018 và mọi con số đều ấn tượng trừ doanh thu/lợi nhuận của mảng di động. LG đã đạt tới 54,4 tỷ USD doanh thu và 2,4 tỷ USD lợi nhuận. So với năm 2017, lợi nhuận của LG năm vừa qua tăng 10%.
                .col-md-3
                    .recent-post
                        a.d-block.recent-post_thumb(href="#")
                            img(src="http://genknews.genkcdn.vn/2019/2/1/photo-1-15489865894291336411673.jpg", alt="")
                        a.d-block.pt-1(href="#")
                            h2.recent-post_title.text-normal.text-success.font-weight-bold LG công bố lợi nhuận kỷ lục trong năm 2018 nhưng mảng di động vẫn tiếp tục thua lỗ 700 triệu USD
                        p.text-small.text-dark.recent-post_desc Mới đây, LG Electronics đã công bố doanh thu năm 2018 và mọi con số đều ấn tượng trừ doanh thu/lợi nhuận của mảng di động. LG đã đạt tới 54,4 tỷ USD doanh thu và 2,4 tỷ USD lợi nhuận. So với năm 2017, lợi nhuận của LG năm vừa qua tăng 10%.
                .col-md-3
                    .recent-post
                        a.d-block.recent-post_thumb(href="#")
                            img(src="http://genknews.genkcdn.vn/2019/2/1/photo-1-15489865894291336411673.jpg", alt="")
                        a.d-block.pt-1(href="#")
                            h2.recent-post_title.text-normal.text-success.font-weight-bold LG công bố lợi nhuận kỷ lục trong năm 2018 nhưng mảng di động vẫn tiếp tục thua lỗ 700 triệu USD
                        p.text-small.text-dark.recent-post_desc Mới đây, LG Electronics đã công bố doanh thu năm 2018 và mọi con số đều ấn tượng trừ doanh thu/lợi nhuận của mảng di động. LG đã đạt tới 54,4 tỷ USD doanh thu và 2,4 tỷ USD lợi nhuận. So với năm 2017, lợi nhuận của LG năm vừa qua tăng 10%.