@import './core/mixin';
@import './core/global';
// Var
$lightgreen: #81C784;
$green: #4CAF50;
$darkgreen: #388E3C;
$darknestgreen: #1B5E20;
// Color
@include color-render("green", $green, true);
@include color-render("dark-green", $darkgreen, true);
@include color-render("darknest-green", $darknestgreen, true);
// Css BEM
.header{
    background-color: $darkgreen;
    top: -100%;
    transition: 0.5s ease-in-out all;
    @include md{
        background-color: $green;
    }
    &-logo{
        @include max-md{
            border-right: 1px solid $green;
            border-bottom: 1px solid $green;
        }
        @include lg{
            border: 0;
        }
        @include md{
            border-right: 1px solid rgba(#fff, .3);
        }
        img{
            transition: ease-in-out .5s all;
            @include lg{
                max-height: 100px;
            }
            max-height: 35px;
        }
    }
    &-contact{
        text-transform: uppercase;
        color: #fff;
        font-size: 11pt;
        flex: 1 1 auto;
        position: relative;
        @include max-md{
            padding: 8px;
            border-top: 1px solid $darknestgreen;
            border-bottom: 1px solid $green;
        }
        @include lg{
            border-bottom: 1px solid rgba(#fff, .3);
            border-right-width: 0;
            font-size: 15pt;
        }
        @include md{
            border-bottom: 1px solid rgba(#fff, .3);
            border-right: 1px solid rgba(#fff, .3);
            font-size: 13pt;
            padding-right: 15px;
        }
    }
    &-menu{
        flex: 1 1 auto;
        @include lg{
            height: 50%;
        }
        @include md{
            height: 60%;
            margin-top: 2px;
        }
        @include max-md{
            overflow-y: hidden;
            border-top-color: $darknestgreen;
            border-top-style: solid;
            border-top-width: 0;
            height: 0;
            transition: .3s ease-in-out all;
        }
        a{
            display: block;
            @include text-color(#fff, #ddd);
            padding: 8px 15px;
            @include lg{
                padding: 8px 15px;
                span{
                    display: inline;
                }
            }
            @include md{
                padding: 5px 10px;
                text-align: center;
                span{
                    display: block;
                }
            }
        }
        li{
            &:not(:last-child){
                @include max-md{
                    border-bottom: 1px dashed rgba(#fff, .3);
                }
            }
            @include lg{
                flex: none;
                border-width: 0;
                a{
                    font-size: 11pt;
                }
            }
            @include md{
                flex: 1;
                border-right: 1px solid rgba(#fff, .3);
                a{
                    font-size: 10pt;
                }
            }
        }
    }
    &.sticky{
        position: sticky;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 99;
        nav{
            @include lg{
                align-items: center!important;
            }
        }
        .struct-right{
            @include lg{
                flex-direction: row;
                flex-wrap: nowrap;
            }
        }
        .header-logo img{
            @include lg{
                max-height: 40px;
            }
        }
        .header-contact{
            @include lg{
                border-width: 0 1px 0 0;
                font-size: 13pt;
            }
            @include md{
                border-width: 0 1px 1px 0;
            }
        }
        .header-menu{
            @include lg{
                li{
                    flex: 1;
                    border-right: 1px solid rgba(#fff, .3);
                    border-left: 1px solid rgba($darkgreen, .3);
                    a{
                        font-size: 10pt;
                        padding: 5px;
                        span{
                            display: block;
                        }
                    }
                }
            }
        }
    }
}
.struct-right{
    display: flex;
    flex-direction: column;
}
.aside-sm{
        border-bottom: 1px solid $green;
    li{
        flex: 1 1 auto;
        border-left: 1px solid $darknestgreen;
        &:not(:last-child){
            border-right: 1px solid $green;
        }
    }
    a{
        @include text-color(#fff, #fff);
        @include bg-color($nocolor, $green);
        > *{
            flex: 1;
            height: 50%;
        }
        span{
            font-size: 9pt;
        }
        i{
            padding-top: 3px;
        }
    }
}
// .header {
//     &-logo {
//         background-color: #fff;
//         position: relative;
//         padding: 0 10px;
//         @include lg {
//             &::before,
//             &::after {
//                 content: '';
//                 position: absolute;
//                 bottom: -15px;
//                 z-index: 10;
//             }
//             &::before {
//                 width: 100%;
//                 height: 15px;
//                 left: 0;
//                 background: #fff;
//             }
//             &::after {
//                 width: 0;
//                 height: 0;
//                 right: -12px;
//                 border-top: 15px solid #ddd;
//                 border-right: 12px solid $nocolor;
//             }
//         }
//         img {
//             width: 100%;
//             transition: all linear .3s;
//         }
//         @include max-sm {
//             width: 100%;
//             text-align: center;
//             img {
//                 max-width: 180px;
//             }
//         }
//         @include sm {
//             img {
//                 max-width: 150px;
//             }
//         }
//         @include lg {
//             img {
//                 max-width: 250px;
//                 transition: all .3s ease-in-out;
//             }
//         }
//     }
//     &-menu {
//         @include lg {
//             border-bottom: 2px solid #ddd;
//         }
//     }
//     &-navbar {
//         a {
//             transition: all .3s ease-in-out;
//             @include lg {
//                 padding: 17px 20px;
//                 color: #fff;
//                 display: flex;
//                 flex-direction: column;
//                 text-align: center;
//                 &:hover,
//                 &:focus,
//                 &.active {
//                     color: $darknestgreen;
//                     background-color: $lightgreen;
//                 }
//             }
//         }
//         @include max-lg {
//             position: fixed;
//             top: 0;
//             left: -100%;
//             width: 100vw;
//             background-color: $darkgreen;
//             z-index: 99;
//             transition: all .3s ease-in-out;
//             &.active {
//                 left: 0;
//             }
//             ul {
//                 display: flex;
//                 flex-direction: column;
//                 align-items: stretch;
//                 width: 100%;
//             }
//             a {
//                 color: #fff !important;
//                 display: block;
//                 padding: 15px 10px;
//                 &:hover,
//                 &:focus,
//                 &.active {
//                     color: #fff !important;
//                     background-color: $green;
//                 }
//                 .fa {
//                     margin-right: 5px;
//                 }
//             }
//             li:not(:last-child) {
//                 border-bottom: 1px dashed rgba($green, .5);
//             }
//             li:last-child {
//                 border-top: 1px solid rgba($green, .5);
//             }
//         }
//     }
// }

.header{
    &-slider {
        .carousel-item {
            .slider-bg {
                @include lg {
                    height: 550px;
                    background-size: 100%;
                }
                @include md {
                    height: 300px;
                }
                height: 200px;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
    &-aside {
        a {
            display: flex;
            flex-direction: column;
            text-align: center;
        }
        @include lg {
            li:not(:last-child) {
                a {
                    border-right: 1px solid rgba($darknestgreen, .4);
                }
            }
            a {
                transition: all .3s ease-in-out;
                color: #fff;
                padding: 17px 20px;
                min-width: 150px;
                text-align: center;
                background-color: $darkgreen;
                color: #fff;
                &:hover {
                    background-color: $darknestgreen;
                    color: #fff;
                }
            }
        }
        @include max-lg {
            width: 100%;
            ul {
                display: flex;
                align-items: stretch;
                width: 100%;
                li {
                    flex: 1;
                }
            }
            a {
                font-size: 10pt;
                padding: 8px;
                background-color: $darknestgreen;
                color: #fff;
                &:hover,
                &:focus,
                &.active {
                    color: #fff;
                    background-color: $lightgreen;
                }
            }
            li:not(:last-child) {
                border-right: 1px solid rgba($darknestgreen, .7);
            }
        }
    }
}

.ticket-order {
    &_onslider {
        @include lg {
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }
        @include max-lg {
            padding: 15px 0;
        }
    }
    &_header {
        background-color: rgba($darknestgreen, .7);
    }
    &_title {
        color: #fff;
        margin: 0;
        text-transform: uppercase;
        padding: 8px 15px;
        font-weight: bold;
    }
    &_icon {
        padding: 0;
        display: flex;
        align-items: center;
        .icon {
            padding: 15px;
            min-width: 50px;
            background-color: $darknestgreen;
        }
        .text {
            padding: 8px 15px;
        }
    }
    &_body {
        background-color: #f2eaeb;
        padding: 15px;
        @include max-md {
            .form-control {
                font-size: 10pt;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }
}

.main-news {
    &_thumb {
        display: block;
        overflow-y: hidden;
        max-height: 250px;
        width: 100%;
    }
    &_title,
    &_title a {
        font-size: 13pt;
        font-weight: bold;
        color: $darkgreen;
        margin: 0;
        padding: 8px 0;
    }
    &_body,
    &_body>* {
        font-size: 10pt;
        margin: 0;
    }
}

.main-news_sub {
    display: flex;
    @include md {
        flex-direction: column;
        flex: 1;
        min-width: 50%;
        flex-wrap: wrap;
    }
    @include lg {
        flex-direction: row;
        flex-wrap: wrap;
    }
    &:not(:last-child) {
        border-bottom: 1px solid #ddd;
    }
    &:not(:last-child),
    &:not(:first-child) {
        padding: 8px 2px !important;
    }
    .main-news_thumb {
        overflow: hidden;
        flex: 1;
        @include md {
            max-height: 150px;
        }
    }
    .main-news_content {
        font-size: 10pt;
        padding: 0 5px;
        @include lg {
            flex: 4;
        }
        @include md {
            flex: 1;
        }
        @include max-md {
            flex: 3;
        }
    }
    .main-news_title {
        padding: 0 0 5px 0;
    }
    .main-news_title,
    .main-news_desc {
        margin: 0;
    }
    .main-news_desc {
        @include max-lg {
            display: none;
        }
    }
    .main-news_title,
    .main-news_desc,
    .main-news_title>* {
        font-size: 10pt;
    }
}

.line-more {
    display: flex;
    align-items: center;
    &::before,
    &::after {
        content: '';
        flex-grow: 1;
        background-color: $darkgreen;
        height: 1px;
    }
}

.main-address {
    transition: .3s ease-in-out all;
    &:hover {
        box-shadow: 0 0 15px rgba($darkgreen, .3);
    }
    &_title{
        font-size: 11pt;
        @include md{
            font-size: 13px;
        }
    }
    &_content{
        font-size: 9pt;
    }
}

.bct {
    max-width: 120px;
}

article {
    img {
        max-width: 100%;
        display: inline-block;
    }
}

.contact-form {
    label {
        color: #fff;
        background-color: $nocolor;
        transition: all ease .3s;
        padding: 8px;
        margin-bottom: 0;
    }
    input,
    select {
        &.form-control {
            background-color: $nocolor;
            color: #fff;
            &:focus {
                box-shadow: none;
            }
        }
    }
    .form-group {
        &:focus-within,
        &.active {
            label {
                background-color: #fff;
                color: $darknestgreen;
            }
        }
    }
}

.recent-post {
    border: 1px solid #ddd;
    &_thumb {
        max-height: 180px;
        overflow: hidden;
    }
    &_title,
    &_desc {
        padding: 0 5px;
    }
    &_desc {
        background-color: #eee;
        margin: 0;
    }
}
