@import './core/mixin';
@import './core/global';
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Montserrat');
.nolist {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

.overflow-hidden {
    overflow: hidden;
}

img {
    max-width: 100%;
}

a:hover,
a:focus {
    text-decoration: none;
}

.header-logo {
    max-width: 150px;
    display: inline-block;
    padding: 5px 0;
}
.dropdown{
    position: relative;
    .dropdown-menu{
        padding-top: 0;
        padding-bottom: 0;
        ul{
            background-color: #eee;
        }
        li{
            font-size: 10pt;
            text-align: left;
            padding: 0;
            &:not(:last-child){
                a{
                    border-bottom: 1px solid #ddd;
                }
            }
            a{
                color: #333;
                &:hover{
                    background-color: #444;
                    color: #fff!important;
                }
            }
        }
        @include max-md{
            width: 100%;
            transform: translate3d(0, 41px, 0)!important;
            li > a{
                color: #333!important;
                &:focus{
                    color: #444;
                }
            }
        }
    }
}
#navbar {
    a {
        display: block;
        padding: 8px 10px;
        @include text-color(#333,
        #0055dd);
        @include xl{
            font-size: 13pt;
        }
        @include lg{
            font-size: 11pt;
        }
    }
    li.active a {
        color: #0055dd;
    }
    &.sticky {
        position: fixed;
        width: 100%;
        z-index: 10;
        @include max-lg {
            top: 0;
            left: 0;
            background-color: #fff;
        }
        @include lg {
            top: -100%;
            background-image: linear-gradient(to bottom, #fff, #ddd);
            animation: .5s ease-in-out forwards sticky;
        }
    }
}

@keyframes sticky {
    0% {
        top: -100%;
        opacity: 0;
    }
    100% {
        top: 0;
        opacity: 1;
    }
}

#overlay {
    z-index: -99;
    &.active {
        z-index: 98;
        background-color: rgba(#333, .2);
        position: fixed;
        left: 0;
        width: 100vw;
        height: 100vh;
    }
}

.aside-menu {
    @include max-lg {
        position: fixed;
        height: 100%;
        width: 100%;
        background-color: #1E88E5;
        left: -100%;
        top: 0;
        display: flex;
        flex-direction: column;
        z-index: 99;
        transition: .4s ease-in-out all;
        overflow-y: auto;
        &.active {
            left: 0;
        }
        a {
            padding: 5px 15px;
            border-bottom: 1px solid rgba(#0055dd, .3);
            color: #fff !important;
            display: block;
            &:hover,
            &.active {
                color: #fff !important;
                background-color: #1E88E5 !important;
            }
        }
    }
}

.header-video {
    overflow: hidden;
    position: relative;
    z-index: 0;
    max-height: 100vh;
    background-color: #fff;
    @include xl {
        height: 100vh;
        max-height: unset;
    }
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(#000, .2);
        top: 0;
        left: 0;
        z-index: 1;
    }
    video {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: auto;
        transform: translateY(-50%);
    }
    .header-introl {
        position: absolute;
        top: 50%;
        width: 100%;
        text-align: center;
        z-index: 2;
        transform: translateY(-50%);
    }
    .header-title {
        font-weight: bold;
        color: #fff;
        font-family: 'Alfa Slab One', cursive;
        text-transform: uppercase;
        @include lg {
            font-size: 40pt;
        }
        @include max-md {
            font-size: 20pt;
        }
    }
    .header-btn {
        padding: 8px 15px;
        border: 1px solid #fff;
        outline: 1px solid $nocolor;
        outline-offset: 5px;
        color: #fff;
        transition: .3s ease-in-out all;
        display: inline-block;
        text-decoration: none;
        margin-bottom: 10px;
        @include md {
            margin-top: 15px;
        }
        &:hover {
            outline-color: #fff;
            outline-offset: 1px;
            background-color: #fff;
            color: #0088dd;
        }
    }
    .header-next_icon {
        .fa {
            line-height: 0.3;
            opacity: 0;
            &:first-child {
                animation: 2s ease-in-out infinite arrow_down;
            }
            &:last-child {
                animation: 2s .5s ease-in-out infinite arrow_down;
            }
        }
    }
}

@keyframes arrow_down {
    0% {
        opacity: 0;
        transform: translateY(0);
    }
    50% {
        opacity: 1;
        transform: translateY(100%);
    }
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}

.main-service {
    height: 100%;
    overflow: hidden;
    display: block;
    position: relative; // &::before {
    //     content: '';
    //     position: absolute;
    //     width: 100%;
    //     height: 100%;
    //     z-index: 1;
    //     transition: .3s ease-out all;
    //     left: 0;
    //     top: 0;
    // }
    &_content {
        // position: absolute;
        // top: 50%;
        // width: 100%;
        // left: 0;
        // transform: translateY(-50%);
        z-index: 1;
    }
    &_domain {
        position: absolute;
        font-size: 13pt;
        background-color: rgba(11, 80, 158, 0.7);
        width: 100%;
        left: 0;
        bottom: 0;
        padding: 5px;
        z-index: 1;
    }
    &_title,
    &_description {
        color: #0055dd;
        text-align: center;
        padding: 5px;
        margin: 0;
        line-height: 1;
    }
    @include lg {
        height: 230px;
        &::before {
            background-color: rgba(#000, .4);
        }
        img {
            height: 100%;
            width: 100%;
            transform: scale(1, 1) rotate(0deg);
            transition: .4s ease all;
        }
        &_content {
            opacity: 1;
            transition: .3s ease all;
        }
        &:hover {
            img {
                transform: scale(1.5, 1.5) rotate(15deg);
            }
            &::before {
                background-color: rgba(#000, .5);
            }
        }
        &:hover &_content {
            opacity: 1;
        }
    }
    @include max-lg {
        img {
            width: 100%;
            height: 100%;
        }
        &::before {
            background-color: rgba(#000, .6);
        }
    }
}

.right-bottom-border {
    border-style: solid;
    border-color: #eee;
    @include md {
        border-width: 0 1px 0 0;
    }
    @include max-md {
        border-width: 0 0 1px 0;
    }
}

.main-box {
    box-shadow: 0 0 15px #ddd;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    &.noshadow {
        box-shadow: none;
    }
    &_title {
        font-size: 18pt;
        margin: 0;
        line-height: 0.3;
    }
    .main-box_body {
        padding: 15px;
    }
    li>a {
        display: block;
        position: relative;
        margin-bottom: 15px;
    }
}

.main-box_sub {
    font-size: 12pt;
    font-weight: bold;
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    margin-left: -15px;
    background-color: #333;
    color: #fff; // &::before,
    // &:after {
    //     content: '';
    //     position: absolute;
    //     height: 100%;
    // }
    &::before {
        background-color: #333;
        top: 0;
        width: 20px;
        left: -20px;
    }
    &::after {
        top: 100%;
        left: -20px;
        border-top: 15px solid #222;
        border-right: 10px solid #222;
        border-left: 10px solid $nocolor;
        border-bottom: 15px solid $nocolor;
    }
    .box-arrow {
        height: 100%;
        &::before,
        &::after {
            content: '';
            height: 50%;
            right: -10px;
            position: absolute;
        }
        &::before {
            top: 0;
            border-top: 10px solid #333;
            border-left: 10px solid #333;
            border-bottom: 10px solid $nocolor;
            border-right: 5px solid $nocolor;
        }
        &::after {
            bottom: 0;
            border-bottom: 10px solid #333;
            border-left: 10px solid #333;
            border-top: 10px solid $nocolor;
            border-right: 5px solid $nocolor;
        }
    }
    &.blue {
        background-color: #0088dd;
        color: #fff;
        &::before {
            background-color: #0088dd;
        }
        &:after {
            border-top-color: #0055dd;
            border-right-color: #0055dd;
        }
        .box-arrow {
            &::before {
                border-top-color: #0088dd;
                border-left-color: #0088dd;
            }
            &::after {
                border-left-color: #0088dd;
                border-bottom-color: #0088dd;
            }
        }
    }
    &.origan {
        background-color: #FF5722;
        color: #fff;
        &::before {
            background-color: #FF5722;
        }
        &:after {
            border-top-color: #D84315;
            border-right-color: #D84315;
        }
        .box-arrow {
            &::before {
                border-top-color: #FF5722;
                border-left-color: #FF5722;
            }
            &::after {
                border-left-color: #FF5722;
                border-bottom-color: #FF5722;
            }
        }
    }
    &.green {
        background-color: #388E3C;
        color: #fff;
        &::before {
            background-color: #388E3C;
        }
        &:after {
            border-top-color: #1B5E20;
            border-right-color: #1B5E20;
        }
        .box-arrow {
            &::before {
                border-top-color: #388E3C;
                border-left-color: #388E3C;
            }
            &::after {
                border-left-color: #388E3C;
                border-bottom-color: #388E3C;
            }
        }
    }
    &.red {
        background-color: #e53935;
        color: #fff;
        &::before {
            background-color: #e53935;
        }
        &:after {
            border-top-color: #b71c1c;
            border-right-color: #b71c1c;
        }
        .box-arrow {
            &::before {
                border-top-color: #e53935;
                border-left-color: #e53935;
            }
            &::after {
                border-left-color: #e53935;
                border-bottom-color: #e53935;
            }
        }
    }
}

.main-event {
    &_content{
        position: relative;
        overflow-y: hidden;
    }
    &_desc{
        position: absolute;
        left: 0;
        width: 100%;
        bottom: -100%;
        transition: .3s ease all;
        background-color: rgba(#000, .6);
        font-size: 10pt;
        color: #fff;
        padding: 8px;
        margin: 0;
    }
    &_content:hover &_desc{
        bottom: 0;
    }
}

.news-primary {
    ._title {
        font-size: 10pt;
        padding-left: 0;
        @include text-color(#333,
        #222);
    }
    ._thumb {
        max-height: 100px;
        overflow-y: hidden;
    }
}

.news-secondary {
    display: flex;
    ._title {
        font-size: 9pt;
        flex: 3;
        padding-left: 5px;
        @include text-color(#333,
        #0055dd);
    }
    ._thumb {
        flex: 1;
    }
}

.company-slides {
    max-width: 100%;
    overflow-x: hidden;
    a {
        @include text-color(#444,
        #333);
    }
}

@include color-render('grey', #999);
@include color-render('light-grey', #ddd);
@include color-render('lightest-grey', #eee);
@include color-render('dark-blue', #003399);

@include max-md {
    .border-sm-top {
        border-width: 1px 0 0 0;
        border-style: solid;
    }
    .border-dark-overlay {
        border-color: rgba(51, 51, 51, 0.2);
    }
}

.main-title {
    font-size: 16pt;
}

.footer {
    background-color: #1565C0;
    background-image: url('../images/footer.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(#490abe, .5);
    }
    &-list{
        a{
            @include text-color(#fff, #ddd);
        }
    }
}

[data-slider] {
    text-align: center;
    img {
        height: 255px;
    }
}

[data-thumb] {
    .slick-slide {
        position: relative;
        z-index: 0;
        &::before {
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: rgba(#fff, .4);
            z-index: 1;
        }
        &.slick-current.slick-center,
        &.slick-current.slick-active {
            &::before {
                background-color: $nocolor;
            }
        }
        img {
            max-width: unset;
            width: 100%;
            height: 100%;
        }
    }
}

.slider-thumb {
    @include md {
        border-left: 1px dashed #ddd;
    }
    @include max-md {
        padding: 15px;
        border-top: 1px dashed #ddd;
    }
}

.event-slider {
    box-shadow: 0 0 10px rgba(#999, .2);
    border: 1px dashed #ddd;
}

.news-thumb {
    max-height: 110px;
    overflow-y: hidden;
}
.news-top{
    margin-bottom: 15px;
    .card-img-top{
        max-height: 200px;
        overflow-y: hidden;
    }
}
.news-list{
    &_title{
        font-size: 11pt;
    }
    &_desktop{
        @include max-md{
            display: none;
        }
    }
}
article {
    img {
        display: inline-block;
        max-width: 100%;
        margin: 5px auto;
    }
}

.list-content {
    li:not(:last-child) {
        border-bottom: 1px dotted #ddd;
    }
    li>a {
        display: block;
        padding: 8px 0;
        @include text-color(#333,
        #666);
        @include lg {
            font-size: 11pt;
        }
        @include md {
            font-size: 10pt;
        }
        @include max-md {
            font-size: 10pt;
        }
    }
    &.list-white {
        li>a {
            @include text-color(#fff,
            #ddd);
        }
    }
}
.breadcrumb{
    background-color: unset;
}
.breadcrumb-item+.breadcrumb-item::before{
    content: '\f105';
    font-family: 'Fontawesome';
    
}
.about-aside {
    background-color: #039BE5;
    padding: 0;
    ul {
        li {
            display: block;
            flex: 1;
            border-bottom: 1px dashed rgba(#ddd, .5);
            a {
                position: relative;
                padding: 8px 15px;
                @include text-color(#fff,
                #fff,
                true);
                @include bg-color($nocolor,
                #01579B,
                true);
                &:hover,
                &.active {
                    &::before {
                        content: '';
                        position: absolute;
                        height: 100%;
                        left: 0;
                        top: 0;
                        border-left: 4px solid #f44336;
                    }
                }
                display: block;
            }
        }
    }
    aside {
        @include md{
            position: sticky;
            width: 100%;
            top: 10%;
            a{
                font-size: 10pt;
            }
        }
        @include max-md{
            display: none;
        }
    }
}
.about-slider {
    a {
        display: block;
        width: 100%;
        min-height: 210px;
        position: relative;
        img {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .slick-slide {
        margin: 0 10px;
    }
    /* the parent */
    .slick-list {
        margin: 0 -10px;
    }
}
.about-info{
    *{
        font-size: 10pt;
    }
}
.modal-body{
    padding: 0;
    position: relative;
    .icon-close{
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(50%, -50%);
        @include max-md{
            transform: translate(30%, -30%);
        }
        i.fa-close{
            margin-top: -2px;
        }
    }
}
.person-thumb{
    display: block;
    position: relative;
    img{
        width: 100%;
        height: 255px;
    }
    &_desc{
        background-color: rgba(#000, .5);
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        *{
            color: #fff;
        }
    }
}
.label-tags{
    position: relative;
    background-color: #0088dd;
    color: #fff;
    padding: 3px 3px 3px 10px;
    font-size: 10pt;
    &:hover{
        color: #fff;
        background-color: #0066dd;
    }
    &::before, &::after{
        content: '';
        position: absolute;
    }
    &::before{
        top: 0;
        left: 0;
        height: 100%;
        width: 2px;
        background-color: #0033dd;
    }
    &::after{
        top: 50%;
        left: 2px;
        width: 0;
        height: 0;
        border-left: 3px solid #0033dd;
        border-top: 3px solid transparent;
        border-bottom: 3px solid transparent;
        border-right: 0;
        transform: translateY(-50%);
    }
}
.comment{
    background-color: #ddd;
    background-image: linear-gradient(to bottom, #ddd, #eee, #fff);
    padding: 0 15px 15px 15px;
    &-widget_title{
        font-size: 12pt;
        color: #333;
        font-weight: bold;
        text-transform: uppercase;
        padding: 8px 0;
    }
    &-widget_content{
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
    }
}