<template>
    <a
        href="#"
        @click.prevent="changeType(thisType); modalSize ? changeModalSize(modalSize) : ''; setData(); changeURL(url); callModal();"
    >
        <img :src="thumb" :alt="url">
        <slot />
    </a>
</template>
<style lang="scss" scoped>
a{
    display: block;
}
</style>

<script>
import { mapState, mapActions } from "vuex";
export default {
    props: ["url", "istype", "data", "modalSize"],
    computed: {
        thisType() {
            if (!this.istype) {
                return "image";
            } else {
                return this.istype;
            }
        },
        thumb(){
            let check = /^.*(youtu)/.test(this.url);
            if(check){
                let filter_id = /(\?|&)v=([^&#]+)/;
                return "https://img.youtube.com/vi/"+ this.url.match(filter_id)[2] +"/hqdefault.jpg"
            }else{
                return this.url
            }
        }
    },
    methods: {
        ...mapActions("Modal", ["changeType", "changeURL", "changeData", "changeModalSize"]),
        callModal() {
            $(".modal").modal("show");
        },
        setData(){
            if(this.data){
                this.changeData(this.data)
            }
        }
    }
};
</script>