<template>
    <div class="loading" v-if="url">
        <div class="start py-3" v-if="loading">
            <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
        </div>
        <slot v-else />
    </div>
</template>
<script>
import {mapState, mapActions} from 'vuex';
export default {
    props:{
        url: {
            type: String,
            required: true
        }
    },
    computed:{
        ...mapState('Loading', ["loading"])
    },
    methods:{
        ...mapActions('Loading', ["LOAD_DATA"])
    },
    created(){
        this.LOAD_DATA(this.url)
    }
}
</script>
<style lang="scss" scoped>
    .loading .start{
        position: relative;
        z-index: 0;
        text-align: center;
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            left: 100%;
            background-color: rgba(#000, .2);
        }
    }
</style>
