<template>
    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" :class="setModalSize" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <a
                        href="#"
                        class="icon-close"
                        data-dismiss="modal"
                        aria-label="Close"
                        @click.prevent="modalClose()"
                    >
                        <span class="fa-stack" aria-hidden="true">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-close fa-stack-1x fa-inverse"></i>
                        </span>
                    </a>
                    <img :src="url" :alt="thisData" v-if="type == 'image'" width="100%">
                    <iframe v-else-if="type == 'youtube'" width="100%" height="100%" :src="thisData" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="min-height:300px"></iframe>
                    <slot v-else></slot>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
import { mapState, mapActions } from "vuex";

export default {
    computed: {
        ...mapState("Modal", ["type", "url", "size"]),
        setModalSize() {
            if (!this.size) {
                return false;
            }
            if (this.size == "sm") {
                return "modal-sm";
            }
            if (this.size == "lg") {
                return "modal-lg";
            }
        },
        thisData(){
            if(this.type == "youtube"){
                let filter_id = /(\?|&)v=([^&#]+)/;
                return "https://www.youtube.com/embed/"+ this.url.match(filter_id)[2] +"?autoplay=1&enablejsapi=1"
            }else{
                return this.url
            }
        }
    },
    methods: {
        ...mapActions('Modal', ["changeType"]),
        modalClose() {
            this.changeType(null)
            $("modal").modal("hide");
        }
    }
};
</script>