<template>
    <div :id="id" v-if="id" class="position-relative">
        <slot/>
    </div>
</template>
<style lang="scss">
.v-slider_arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    &.arrow-prev {
        right: -10px;
    }
    &.arrow-right {
        left: -10px;
    }
}
</style>

<script>
export default {
    props: {
        id: {
            type: String,
            required: true
        },
        perview: {
            type: String,
            default: "1"
        },
        auto: {
            type: String,
            default: "false"
        },
        speed: {
            type: String,
            default: "3000"
        },
        loop: {
            type: String,
            default: "false"
        },
        lazy: {
            type: String,
            default: "lazyLoad"
        }
    },
    async mounted() {
        let id = "#" + this.id;
        let target = document.querySelector(id);
        if (id) {
            await $(target).slick({
                slidesToShow: Number(this.perview),
                slidesToScroll: 1,
                autoplay: Boolean(this.auto),
                loop: Boolean(this.loop),
                autoplaySpeed: Number(this.speed),
                lazyLoad: this.lazy,
                // navigation: {
                //     nextEl: '.arrow-next',
                //     prevEl: '.arrow-prev',
                // },
                prevArrow:
                    '<a href="#" class="v-slider_arrow arrow-prev fa fa-angle-right fa-3x"></a>',
                nextArrow:
                    '<a href="#" class="v-slider_arrow arrow-next fa fa-angle-left fa-3x"></a>',
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: Number(this.perview),
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 2,
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                        }
                    }
                ]
            });
        }
    }
};
</script>
<style lang="scss" scoped>
.slick-slide {
    margin: 0 10px;
}
</style>
