- var theme = "pqe"
- var img = "/themes/"+theme+"/images/"
- var css = "/themes/"+theme+"/css/"
- var js = "/themes/"+theme+"/js/"
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        block title
        link(rel="stylesheet", href=css+"bootstrap.min.css")
        link(rel="stylesheet", href=css+"font-awesome.css")
        link(rel="stylesheet", href=css+"swiper.min.css")
        link(rel="stylesheet", href=css+theme+".css")
        block css
    body
        #app
            include ./components/header-new
            main
                block content
            footer
                include ./components/footer
        script(src=js+"jquery.slim.min.js")
        script(src=js+"popper.min.js")
        script(src=js+"bootstrap.min.js")
        script(src=js+"swiper.min.js")
        script(src=js+theme+".js")
        block js