extends ../about_layout
block content
    - 
        var company_about = [
                {
                    key: "Tên Công Ty",
                    name: "Công ty VUTA"
                },
                {
                    key: "Ngày thành lập",
                    name: "10/10/2010"
                },
                {
                    key: "Giấy phép kinh doanh",
                    name: "3502310515"
                },
                {
                    key: "Vốn Đăng ký",
                    name: "1,000,000,000 vnđ"
                },
                {
                    key: "Nhân Viên",
                    name: "1,200"
                }
            ]
    .row
        .col-md-6.px-md-0
            img(src=img+"company-house.jpg", alt="")
        .col-md-6.bg-light
            h1.main-box_sub.blue
                span.box-arrow
                span Thông tin công ty
            ul.nolist.d-flex.flex-column.align-items-stretch.about-info
                each item in company_about
                    li.d-flex.py-2.border-bottom.border-muted
                        b.flex-1=item.key + ":"
                        span.flex-1=item.name
    .row
        .col-md-6.bg-light
            h2.main-box_sub.red
                span.box-arrow
                span Nội dung hoạt động
            ul.nolist.d-flex.flex-column.list-content.aout-list
                - var list_1 = 1
                while list_1 < 5
                    li
                        a(href="#") Giả thuyết thú vị: Living Tribunal mới là phản diện chính trong "Avengers: Endgame"
                    - list_1++
        .col-md-6.bg-secondary
            h2.main-box_sub.blue
                    span.box-arrow
                    span Văn Phòng
            ul.nolist.d-flex.flex-column.list-content.list-white
                - var list_1 = 1
                while list_1 < 5
                    li
                        a(href="#") Giả thuyết thú vị: Living Tribunal mới là phản diện chính trong "Avengers: Endgame"
                    - list_1++
    h2.main-box_sub.origan.mt-3
        span.box-arrow
        span Hình Ảnh Công Ty
    .container-fluid
        v-slider(id="about-image", perview="3",  auto="true", loop="true")
            .about-slider_item
                v-image(url="http://5nbusinessconsultants.com/wp-content/uploads/2018/02/Global-Company-services.png", modal-size="lg")
            .about-slider_item
                v-image(url="http://kirlangicakademi.com/wp-content/uploads/2018/07/e-k-e-kurumsal-durus.jpg", modal-size="lg")
            .about-slider_item
                v-image(url="https://www.inovatifgrup.com/wp-content/uploads/2018/08/egitim.jpg", modal-size="lg")
            .about-slider_item
                v-image(url="http://www.efesanport.com/wp-content/uploads/2018/11/business-without-degree.jpg", modal-size="lg")
            .about-slider_item
                v-image(url="http://5nbusinessconsultants.com/wp-content/uploads/2018/02/Global-Company-services.png", modal-size="lg")
    h2.main-box_sub.origan.mt-3
        span.box-arrow
        span Hình Ảnh Công Ty
    - 
        var ytb = [
            "https://www.youtube.com/watch?v=pk4HCFq3AVI&start_radio=1&list=RDpk4HCFq3AVI&t=0",
            "https://www.youtube.com/watch?v=2DYYVp4QXew&index=4&list=RDpk4HCFq3AVI",
            "https://www.youtube.com/watch?v=pk4HCFq3AVI",
            "https://www.youtube.com/watch?v=XZhyRInzFos",
            "https://www.youtube.com/watch?v=pk4HCFq3AVI",
            "https://www.youtube.com/watch?v=XZhyRInzFos",
            "https://www.youtube.com/watch?v=pk4HCFq3AVI",
            "https://www.youtube.com/watch?v=XZhyRInzFos",
            ]
    .container-fluid.pb-3
        v-slider(id="about-video", perview="3",  auto="true", loop="true")
                .about-slider_item
                    v-image(url="https://www.youtube.com/watch?v=pk4HCFq3AVI", istype="youtube", modal-size="lg")
    v-modal