extends ../about_layout
block content
    section
        h2.main-box_sub.origan
            span.box-arrow
            span Sơ đồ công ty
        .container-fluid
            img.w-100(src="http://www.dalatreal.com.vn/web/Portals/0/hinh%20anh/so%20do%20cong%20ty.jpg", alt="")
    section
        h2.main-box_sub.origan.mt-3
            span.box-arrow
            span Giám Đốc - Phó Giám Đốc
        v-loading(url="/api/nhanvien")
            .container-fluid.pb-3
                .row
                    .col-md-3(v-for="(item, key) of $store.state.Loading.data" :key="key")
                        v-image.person-thumb(istype="other", :url="item.img", :data="item", modal-size="sm")
                            .person-thumb_desc.py-1
                                h3.font-weight-bold.text-center.text-normal.mb-0(v-text="item.name")
                                i.d-block.text-center.text-small(v-text="item.pos")
    section
        h2.main-box_sub.origan.mt-3
            span.box-arrow
            span Giám Đốc - Phó Giám Đốc
        v-loading(url="/api/nhanvien")
            .container-fluid.pb-3
                .row
                    .col-md-3(v-for="(item, key) of $store.state.Loading.data" :key="key")
                        v-image.person-thumb(istype="other", :url="item.img", :data="item", modal-size="sm")
                            .person-thumb_desc.py-1
                                h3.font-weight-bold.text-center.text-normal.mb-0(v-text="item.name")
                                i.d-block.text-center.text-small(v-text="item.pos")
    section
        h2.main-box_sub.origan.mt-3
            span.box-arrow
            span Hình Ảnh Công Ty
        .container-fluid
            v-slider(id="about-image", perview=3)
                .about-slider_item
                    v-image(url="http://5nbusinessconsultants.com/wp-content/uploads/2018/02/Global-Company-services.png", modal-size="lg")
                .about-slider_item
                    v-image(url="http://kirlangicakademi.com/wp-content/uploads/2018/07/e-k-e-kurumsal-durus.jpg", modal-size="lg")
                .about-slider_item
                    v-image(url="https://www.inovatifgrup.com/wp-content/uploads/2018/08/egitim.jpg", modal-size="lg")
                .about-slider_item
                    v-image(url="http://www.efesanport.com/wp-content/uploads/2018/11/business-without-degree.jpg", modal-size="lg")
                .about-slider_item
                    v-image(url="http://5nbusinessconsultants.com/wp-content/uploads/2018/02/Global-Company-services.png", modal-size="lg")
    v-modal
        div.d-block.bg-white.px-3(v-if="$store.state.Modal.data")
            .row.border-bottom.py-2.border-muted
                .col-3
                    img(:src="$store.state.Modal.data.img", alt="")
                .col-9
                    h3.my-0.text-normal.text-primary.font-weight-bold(v-text="$store.state.Modal.data.name")
                    i.text-secondary(v-text="$store.state.Modal.data.pos")
            div(v-text="$store.state.Modal.data.desc")

