extends ../about_layout
block content
    section
        h2.main-box_sub.origan
            span.box-arrow
            span Doanh Nghiệp
        .container-fluid.pb-3
            ul.nolist.d-flex.flex-column.auto-margin-b-3
                - var dn =1
                while dn < 6
                    li.d-flex.flex-wrap.border-bottom.border-muted.pb-3
                        .col-md-3.col-sm-4.overflow-hidden.px-md-0.pr-0
                            img(src="http://static.tapchitaichinh.vn/800x450/images/upload/tranhuyentrang/2018_03_21/chi-phi-quan-ly-doanh-nghiep-la-gi_htmlxngc_NQOK.jpg", alt="",)
                        .col-md-7.col-sm-8
                            h3.text-normal CTy TNHH ABC
                            p.text-small Genk (Dutch pronunciation: [ɣɛŋk]) is a city and municipality located in the Belgian province of Limburg near Hasselt. The municipality only comprises the city of Genk itself. 
                        .col-md-2.col-12.align-self-center.d-md-block.d-flex.px-md-3.px-0
                            div.col-md-12.col-6.px-md-0.px-3.mb-2
                                a.btn.btn-block.btn-sm.btn-outline-primary(href="", target="_blank") Website
                            div.col-md-12.col-6.px-md-0.px-3
                                a.btn.btn-block.btn-sm.btn-outline-primary(href="", target="_blank") Xem Thêm
                    - dn++
            .mt-3
                include ../components/pagination