extends ../about_layout
block content
    section
        article.row
            .col-md-4.bg-light
                img(src="http://static.tapchitaichinh.vn/800x450/images/upload/tranhuyentrang/2018_03_21/chi-phi-quan-ly-doanh-nghiep-la-gi_htmlxngc_NQOK.jpg", alt="",)
            .col-md-8.bg-light.py-2
                h1.text-normal.text-primary.text-uppercase.font-weight-bold Doanh Nghiệp ABCXYZ
                address
                    dl
                        dd
                            i.fa.fa-map-marker.fa-fw
                            span Tầng 3, Edyco Building, 102A Lê Hồng Phong, Phường 4, Vũng Tàu, Bà Rịa - Vũng Tàu
                        dd
                            i.fa.fa-phone.fa-fw
                            span (+84) 254 627 5555 - (+84) 2547 300 400
                        dd
                            i.fa.fa-envelope.fa-fw
                            span design@vutatech.vn
            .col-12
                h2.main-box_sub.blue
                    span.box-arrow
                    span Giới thiệu Doanh Nghiệp ABCXYZ
                p Academia.edu is a platform for academics to share research papers. The company's mission is to accelerate the world's research
                p Academics use Academia.edu to share their research,monitor deep analytics around the impact of theirresearch, and track the research of academics they follow.Over 74 million academics havesigned up to Academia.edu, adding 22 millionpapers. Academia.edu attracts over 49 million unique visitors a month.
            .col-12.bg-light.pb-3
                h2.main-box_sub.blue
                    span.box-arrow
                    span Vị Trí Ứng Tuyển
                ul.nolist
                    li
                        a(href="")
                            i.fa.fa-angle-right.fa-sm.fa-fw
                            span Vị trí kế toán
                    li
                        a(href="")
                            i.fa.fa-angle-right.fa-sm.fa-fw
                            span Vị trí trưởng phòng kinh doanh
                    li
                        a(href="")
                            i.fa.fa-angle-right.fa-sm.fa-fw
                            span Vị trí trưởng phòng nhân sự