extends ../layout
block head
    nav#navbar
        include ../components/navbar
block content
    section.mt-3
        .container.py-lg-5.py-md-4.py-3(data-sticky)
            .row.justify-content-md-stretch.bg-light
                .col-md-6
                    .h-100
                        .main-box_header.p-3
                            h2.main-box_sub.blue
                                span.box-arrow
                                span Sự kiện đang diễn ra
                        .main-box_body
                            img(src="http://genknews.genkcdn.vn/thumb_w/660/2019/1/28/photo-1-1548639062426535722934.jpg", alt="")
                            h1.text-small.font-weight-bold.text-primary.main-title.py-2 Giả thuyết thú vị: Living Tribunal mới là phản diện chính trong "Avengers: Endgame" 
                            p Trong số đó, gần đây nhất có lẽ phải kể đến một giả thuyết cực thú vị thuộc về thành viên diễn đàn Reddit có nickname Coolest_Breeze, gợi ý rằng siêu ác nhân Living Tribunal mới là phản diện chính trong Avengers: Endgame chứ không phải Thanos như nhiều người vẫn tưởng.
                .col-md-6
                    .main-box.h-100
                        .main-box_header.p-3
                            h2.main-box_sub.blue
                                span.box-arrow
                                span Sự kiện dự kiến
                        .main-box-body
                            ul.nolist
                                li.py-3.border-bottom.border-muted.d-flex.flex-md-row.flex-column.align-items-top.flex-wrap
                                    h3.mt-0.box-title.text-small.font-weight-bold.text-primary.col-12 Giả thuyết thú vị: Living Tribunal mới là phản diện chính trong "Avengers: Endgame"
                                    .box-thumb.col-md-3
                                        img(src="http://genknews.genkcdn.vn/thumb_w/660/2019/1/28/photo-1-1548639062426535722934.jpg", alt="")
                                    .box-content.col-md-9.pl-md-0
                                        p.text-small.my-0 Trong số đó, gần đây nhất có lẽ phải kể đến một giả thuyết cực thú vị thuộc về thành viên diễn đàn Reddit có nickname Coolest_Breeze, gợi ý rằng siêu ác nhân Living Tribunal mới là phản diện chính trong Avengers: Endgame chứ không phải Thanos như nhiều người vẫn tưởng.
                                li.py-3.border-bottom.border-muted.d-flex.flex-md-row.flex-column.align-items-top.flex-wrap
                                    h3.mt-0.box-title.text-small.font-weight-bold.text-primary.col-12 Giả thuyết thú vị: Living Tribunal mới là phản diện chính trong "Avengers: Endgame"
                                    .box-thumb.col-md-3
                                        img(src="http://genknews.genkcdn.vn/thumb_w/660/2019/1/28/photo-1-1548639062426535722934.jpg", alt="")
                                    .box-content.col-md-9.pl-md-0
                                        p.text-small.my-0 Trong số đó, gần đây nhất có lẽ phải kể đến một giả thuyết cực thú vị thuộc về thành viên diễn đàn Reddit có nickname Coolest_Breeze, gợi ý rằng siêu ác nhân Living Tribunal mới là phản diện chính trong Avengers: Endgame chứ không phải Thanos như nhiều người vẫn tưởng.
                                li.py-3.d-flex.flex-md-row.flex-column.align-items-top.flex-wrap
                                    h3.mt-0.box-title.text-small.font-weight-bold.text-primary.col-12 Giả thuyết thú vị: Living Tribunal mới là phản diện chính trong "Avengers: Endgame"
                                    .box-thumb.col-md-3
                                        img(src="http://genknews.genkcdn.vn/thumb_w/660/2019/1/28/photo-1-1548639062426535722934.jpg", alt="")
                                    .box-content.col-md-9.pl-md-0
                                        p.text-small.my-0 Trong số đó, gần đây nhất có lẽ phải kể đến một giả thuyết cực thú vị thuộc về thành viên diễn đàn Reddit có nickname Coolest_Breeze, gợi ý rằng siêu ác nhân Living Tribunal mới là phản diện chính trong Avengers: Endgame chứ không phải Thanos như nhiều người vẫn tưởng.
    section.border-top.border-muted.bg-white
        .container-fluid.py-lg-5.py-md-4.py-3
            .main-box_header.p-3
                h2.main-box_sub.blue
                    span.box-arrow
                    span Sự kiện đang diễn ra
            .row
                .col-md-9
                    - let i = 1
                    while i < 3
                        ul.nolist.py-3.border-bottom.border-muted
                            li
                                h3.text-primary.text-normal.font-weight-bold(id="content_more_id_"+i)
                                    i.fa.fa-play.fa-fw
                                    a(href="#", modal-toggle="#content_more_id_"+i) Giả thuyết thú vị: Living Tribunal mới là phản diện chính trong "Avengers: Endgame"
                                .row
                                    .col-md-7
                                        .d-flex.justify-content-stretch.event-slider.flex-lg-row.flex-column
                                            .col-md-9.bg-white.pt-lg-3.py-3
                                                div(data-slider="#slide_thumb_demo", id="slider-demo").h-100
                                                    .d-block.pr-2.h-100
                                                        img(src="http://genknews.genkcdn.vn/thumb_w/660/2019/1/28/photo-1-1548639062426535722934.jpg", alt="")
                                                    .d-block.pr-2.h-100
                                                        img(src="http://genknews.genkcdn.vn/thumb_w/660/2019/1/24/vlcsnap-2019-01-24-16h00m58s558-1548320474662902354198.jpg", alt="")
                                                    .d-block.pr-2.h-100
                                                        img(src="http://genknews.genkcdn.vn/thumb_w/660/2019/1/29/gettyimages-1125764482-1548720906934474621098.jpg", alt="")
                                                    .d-block.pr-2.h-100
                                                        img(src="http://genknews.genkcdn.vn/thumb_w/660/2019/1/29/photo-1-1548740375826409157133.jpg", alt="")
                                            .col-md-3.bg-light.py-md-3.slider-thumb
                                                div(data-thumb="#slider-demo", id="slide_thumb_demo")
                                                    .d-block.mb-md-1.mr-md-0.mr-1
                                                        img(src="http://genknews.genkcdn.vn/thumb_w/660/2019/1/28/photo-1-1548639062426535722934.jpg", alt="")
                                                    .d-block.mb-md-1.mr-md-0.mr-1
                                                        img(src="http://genknews.genkcdn.vn/thumb_w/660/2019/1/24/vlcsnap-2019-01-24-16h00m58s558-1548320474662902354198.jpg", alt="")
                                                    .d-block.mb-md-1.mr-md-0.mr-1
                                                        img(src="http://genknews.genkcdn.vn/thumb_w/660/2019/1/29/gettyimages-1125764482-1548720906934474621098.jpg", alt="")
                                                    .d-block.mb-md-1.mr-md-0.mr-1
                                                        img(src="http://genknews.genkcdn.vn/thumb_w/660/2019/1/29/photo-1-1548740375826409157133.jpg", alt="")
                                    .col-md-5.mt-lg-0.mt-2
                                        article Biết được vị thế của mình, vậy nên những thương hiệu như Mobiistar hay Asanzo chỉ sản xuất những dòng máy giá rẻ, không có tính năng gì nổi bật và chất lượng cũng chỉ ở mức "làng nhàng".
                                            .d-none(id="content_more_id_"+i)
                                                - let a = 1
                                                while a < i * 5
                                                    p Biết được vị thế của mình, vậy nên những thương hiệu như Mobiistar hay Asanzo chỉ sản xuất những dòng máy giá rẻ, không có tính năng gì nổi bật và chất lượng cũng chỉ ở mức "làng nhàng".
                                                    - a++
                                            a(href="#", modal-toggle="#content_more_id_"+i) Xem chi tiết
                            - i++
                    
                                        
                    include ../components/pagination
                .col-md-3.auto-margin-y-1.text-center
                    a.d-block(href="#")
                        img(src="https://i.imgur.com/GsNCBNJ.png", alt="")
                    a.d-block(href="#")
                        img(src="https://i.imgur.com/GsNCBNJ.png", alt="")
    .modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
        .modal-dialog.modal-xl
            .modal-content
                .modal-header
                    h5.modal-title Modal title
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') ×
                .modal-body
                //- .modal-footer
                //-     button.btn.btn-secondary(type='button', data-dismiss='modal') Close
                //-     button.btn.btn-primary(type='button') Save changes