extends ../layout
block head
    nav#navbar
        include ../components/navbar
    include ../components/video_banner
block content
    section#service(data-sticky)
        .container.py-lg-5.py-md-4.py-3
            .row.justify-content-stretch
                .col-lg-4.col-md-6.my-lg-3.my-5
                    a.main-service(href="#")
                        img(src="/themes/vuta/images/education.jpg", alt="")
                        h3.main-service_domain.my-0.text-white.font-weight-bold.text-center wWw.Vuta.Vn
                    a.main-service_content(href="#")
                        h2.main-service_title.text-large.font-weight-bold ANT Education
                        p.main-service_description Trung tâm đào tạo chuyên nghiệp
                .col-lg-4.col-md-6.my-lg-3.my-5
                    a.main-service(href="#")
                        img(src="/themes/vuta/images/jobs.jpg", alt="")
                        h3.main-service_domain.my-0.text-white.font-weight-bold.text-center wWw.Vuta.Vn
                    a.main-service_content(href="#")
                        h2.main-service_title.text-large.font-weight-bold JOBS Center
                        p.main-service_description Trung tâm tìm kiếm công việc và ứng cử viên phù hợp
                .col-lg-4.col-md-6.my-lg-3.my-5
                    a.main-service(href="#")
                        img(src="/themes/vuta/images/real.jpg", alt="")
                        h3.main-service_domain.my-0.text-white.font-weight-bold.text-center wWw.Vuta.Vn
                    a.main-service_content(href="#")
                        h2.main-service_title.text-large.font-weight-bold Real Center
                        p.main-service_description Không gian cập nhật bất động sản
                .col-lg-4.col-md-6.my-lg-3.my-5
                    a.main-service(href="#")
                        img(src="/themes/vuta/images/travel.jpg", alt="")
                        h3.main-service_domain.my-0.text-white.font-weight-bold.text-center wWw.Vuta.Vn
                    a.main-service_content(href="#")
                        h2.main-service_title.text-large.font-weight-bold Travel
                        p.main-service_description Nơi cung cấp dịch vụ du lịch nhanh chóng và chuyên nghiệp
                .col-lg-4.col-md-6.my-lg-3.my-5
                    a.main-service(href="#")
                        img(src="/themes/vuta/images/help.jpg", alt="")
                        h3.main-service_domain.my-0.text-white.font-weight-bold.text-center wWw.Vuta.Vn
                    a.main-service_content(href="#")
                        h2.main-service_title.text-large.font-weight-bold Advisory
                        p.main-service_description Cung cấp giải phải để bạn vượt qua khó khăn hiện tại
                .col-lg-4.col-md-6.my-lg-3.my-5
                    a.main-service(href="#")
                        img(src="/themes/vuta/images/trade.jpg", alt="")
                        h3.main-service_domain.my-0.text-white.font-weight-bold.text-center wWw.Vuta.Vn
                    a.main-service_content(href="#")
                        h2.main-service_title.text-large.font-weight-bold Trading
                        p.main-service_description Mua nhanh bán mau mọi thứ không chờ đợi
    section.bg-light
        .container.py-lg-5.py-md-4.py-3
            .row.justify-content-stretch
                .col-xl-6.col-md-12
                    .main-box.h-100
                        h2.main-box_title.m-0.py-3.text-center.bg-dark-blue.text-uppercase.text-white.font-weight-bold Event Center
                        ul.nolist.main-box_body.main-event.row
                            li.col-xl-12.col-md-6
                                .d-block.mb-3.main-event_content
                                    .d-flex.align-items-center
                                        h3.ml-0.main-box_sub.blue
                                            span.box-arrow
                                            span Education
                                        a.flex-grow-1.text-right.text-dark.text-small(href="#") Xem chi tiết
                                    a(href="#").d-block
                                        img(src="/themes/vuta/images/banner/education.jpg", alt="")
                                    p.main-event_desc Sếp cao cấp phụ trách phát triển chip khẳng định gắn bó với Apple, không chạy đua chức CEO của Intel
                            li.col-xl-12.col-md-6
                                .d-block.mb-3.main-event_content
                                    .d-flex.align-items-center
                                        h3.ml-0.main-box_sub.red
                                            span.box-arrow
                                            span Jobs
                                        a.flex-grow-1.text-right.text-dark.text-small(href="#") Xem chi tiết
                                    a(href="#").d-block
                                        img(src="/themes/vuta/images/banner/jobs.jpg", alt="")
                                    p.main-event_desc Sếp cao cấp phụ trách phát triển chip khẳng định gắn bó với Apple, không chạy đua chức CEO của Intel
                            li.col-xl-12.col-md-6
                                .d-block.mb-3.main-event_content
                                    .d-flex.align-items-center
                                        h3.ml-0.main-box_sub
                                            span.box-arrow
                                            span Real
                                        a.flex-grow-1.text-right.text-dark.text-small(href="#") Xem chi tiết
                                    a(href="#").d-block
                                        img(src="/themes/vuta/images/banner/real.jpg", alt="")
                                    p.main-event_desc Sếp cao cấp phụ trách phát triển chip khẳng định gắn bó với Apple, không chạy đua chức CEO của Intel
                            li.col-xl-12.col-md-6
                                .d-block.mb-3.main-event_content
                                    .d-flex.align-items-center
                                        h3.ml-0.main-box_sub.green
                                            span.box-arrow
                                            span Travel
                                        a.flex-grow-1.text-right.text-dark.text-small(href="#") Xem chi tiết
                                    a(href="#").d-block
                                        img(src="/themes/vuta/images/banner/travel.jpg", alt="")
                                    p.main-event_desc Sếp cao cấp phụ trách phát triển chip khẳng định gắn bó với Apple, không chạy đua chức CEO của Intel
                            li.col-xl-12.col-md-6
                                .d-block.mb-3.main-event_content
                                    .d-flex.align-items-center
                                        h3.ml-0.main-box_sub
                                            span.box-arrow
                                            span Advisory
                                        a.flex-grow-1.text-right.text-dark.text-small(href="#") Xem chi tiết
                                    a(href="#").d-block
                                        img(src="/themes/vuta/images/banner/help.jpg", alt="")
                                    p.main-event_desc Sếp cao cấp phụ trách phát triển chip khẳng định gắn bó với Apple, không chạy đua chức CEO của Intel
                            li.col-xl-12.col-md-6
                                .d-block.mb-3.main-event_content
                                    .d-flex.align-items-center
                                        h3.ml-0.main-box_sub.origan
                                            span.box-arrow
                                            span Trading
                                        a.flex-grow-1.text-right.text-dark.text-small(href="#") Xem chi tiết
                                    a(href="#").d-block
                                        img(src="/themes/vuta/images/banner/trading.jpg", alt="")
                                    p.main-event_desc Sếp cao cấp phụ trách phát triển chip khẳng định gắn bó với Apple, không chạy đua chức CEO của Intel

                .col-xl-6.col-md-12
                    .main-box.event-box
                        h2.main-box_title.m-0.py-3.text-center.bg-dark-blue.text-uppercase.text-white.font-weight-bold News Daily
                        ul.nolist.main-box_body.row
                            li.col-xl-12.col-md-6.col-12
                                .d-block.mb-3.border-bottom.border-muted.pb-3
                                    .d-flex.align-items-center    
                                        h3.ml-0.main-box_sub.blue
                                            span.box-arrow
                                            span Education
                                        a.flex-grow-1.text-right.text-dark.text-small(href="#") Xem Tất cả   
                                    .row
                                        .col-lg-6
                                            .news-primary.mb-lg-0.mb-2
                                                ._thumb
                                                    img(src="http://genknews.genkcdn.vn/thumb_w/660/2019/1/28/photo-1-1548639062426535722934.jpg", alt="")
                                                a(href="#")._title Sếp cao cấp phụ trách phát triển chip khẳng định gắn bó với Apple, không chạy đua chức CEO của Intel
                                        .col-lg-6.pl-lg-0
                                            - var i = 1
                                            while i <= 3
                                                .news-secondary.mb-3
                                                    ._thumb
                                                        img(src="http://genknews.genkcdn.vn/thumb_w/660/2019/1/28/photo-1-1548639062426535722934.jpg", alt="")
                                                    a(href="#")._title Sếp cao cấp phụ trách phát triển chip khẳng định gắn bó với Apple, không chạy đua chức CEO của Intel
                                                - i++
                            li.col-xl-12.col-md-6.col-12
                                .d-block.mb-3.border-bottom.border-muted.pb-3
                                    .d-flex.align-items-center    
                                        h3.ml-0.main-box_sub.red
                                            span.box-arrow
                                            span Jobs
                                        a.flex-grow-1.text-right.text-dark.text-small(href="#") Xem Tất cả   
                                    .row
                                        .col-lg-6
                                            .news-primary.mb-lg-0.mb-2
                                                ._thumb
                                                    img(src="http://genknews.genkcdn.vn/thumb_w/660/2019/1/28/photo-1-1548639062426535722934.jpg", alt="")
                                                a(href="#")._title Sếp cao cấp phụ trách phát triển chip khẳng định gắn bó với Apple, không chạy đua chức CEO của Intel
                                        .col-lg-6.pl-lg-0
                                            - var i = 1
                                            while i <= 3
                                                .news-secondary.mb-3
                                                    ._thumb
                                                        img(src="http://genknews.genkcdn.vn/thumb_w/660/2019/1/28/photo-1-1548639062426535722934.jpg", alt="")
                                                    a(href="#")._title Sếp cao cấp phụ trách phát triển chip khẳng định gắn bó với Apple, không chạy đua chức CEO của Intel
                                                - i++
                            li.col-xl-12.col-md-6.col-12
                                .d-block.mb-3.border-bottom.border-muted.pb-3
                                    .d-flex.align-items-center    
                                        h3.ml-0.main-box_sub
                                            span.box-arrow
                                            span Real
                                        a.flex-grow-1.text-right.text-dark.text-small(href="#") Xem Tất cả   
                                    .row
                                        .col-lg-6
                                            .news-primary.mb-lg-0.mb-2
                                                ._thumb
                                                    img(src="http://genknews.genkcdn.vn/thumb_w/660/2019/1/28/photo-1-1548639062426535722934.jpg", alt="")
                                                a(href="#")._title Sếp cao cấp phụ trách phát triển chip khẳng định gắn bó với Apple, không chạy đua chức CEO của Intel
                                        .col-lg-6.pl-lg-0
                                            - var i = 1
                                            while i <= 3
                                                .news-secondary.mb-3
                                                    ._thumb
                                                        img(src="http://genknews.genkcdn.vn/thumb_w/660/2019/1/28/photo-1-1548639062426535722934.jpg", alt="")
                                                    a(href="#")._title Sếp cao cấp phụ trách phát triển chip khẳng định gắn bó với Apple, không chạy đua chức CEO của Intel
                                                - i++
                            li.col-xl-12.col-md-6.col-12
                                .d-block.mb-3.border-bottom.border-muted.pb-3
                                    .d-flex.align-items-center    
                                        h3.ml-0.main-box_sub.green
                                            span.box-arrow
                                            span Travel
                                        a.flex-grow-1.text-right.text-dark.text-small(href="#") Xem Tất cả   
                                    .row
                                        .col-lg-6
                                            .news-primary.mb-lg-0.mb-2
                                                ._thumb
                                                    img(src="http://genknews.genkcdn.vn/thumb_w/660/2019/1/28/photo-1-1548639062426535722934.jpg", alt="")
                                                a(href="#")._title Sếp cao cấp phụ trách phát triển chip khẳng định gắn bó với Apple, không chạy đua chức CEO của Intel
                                        .col-lg-6.pl-lg-0
                                            - var i = 1
                                            while i <= 3
                                                .news-secondary.mb-3
                                                    ._thumb
                                                        img(src="http://genknews.genkcdn.vn/thumb_w/660/2019/1/28/photo-1-1548639062426535722934.jpg", alt="")
                                                    a(href="#")._title Sếp cao cấp phụ trách phát triển chip khẳng định gắn bó với Apple, không chạy đua chức CEO của Intel
                                                - i++
                            li.col-xl-12.col-md-6.col-12
                                .d-block.mb-3.border-bottom.border-muted.pb-3
                                    .d-flex.align-items-center    
                                        h3.ml-0.main-box_sub
                                            span.box-arrow
                                            span Advisory
                                        a.flex-grow-1.text-right.text-dark.text-small(href="#") Xem Tất cả   
                                    .row
                                        .col-lg-6
                                            .news-primary.mb-lg-0.mb-2
                                                ._thumb
                                                    img(src="http://genknews.genkcdn.vn/thumb_w/660/2019/1/28/photo-1-1548639062426535722934.jpg", alt="")
                                                a(href="#")._title Sếp cao cấp phụ trách phát triển chip khẳng định gắn bó với Apple, không chạy đua chức CEO của Intel
                                        .col-lg-6.pl-lg-0
                                            - var i = 1
                                            while i <= 3
                                                .news-secondary.mb-3
                                                    ._thumb
                                                        img(src="http://genknews.genkcdn.vn/thumb_w/660/2019/1/28/photo-1-1548639062426535722934.jpg", alt="")
                                                    a(href="#")._title Sếp cao cấp phụ trách phát triển chip khẳng định gắn bó với Apple, không chạy đua chức CEO của Intel
                                                - i++
                            li.col-xl-12.col-md-6.col-12
                                .d-block.mb-3.pb-3
                                    .d-flex.align-items-center    
                                        h3.ml-0.main-box_sub.origan
                                            span.box-arrow
                                            span Trading
                                        a.flex-grow-1.text-right.text-dark.text-small(href="#") Xem Tất cả   
                                    .row
                                        .col-lg-6
                                            .news-primary.mb-lg-0.mb-2
                                                ._thumb
                                                    img(src="http://genknews.genkcdn.vn/thumb_w/660/2019/1/28/photo-1-1548639062426535722934.jpg", alt="")
                                                a(href="#")._title Sếp cao cấp phụ trách phát triển chip khẳng định gắn bó với Apple, không chạy đua chức CEO của Intel
                                        .col-lg-6.pl-lg-0
                                            - var i = 1
                                            while i <= 3
                                                .news-secondary.mb-3
                                                    ._thumb
                                                        img(src="http://genknews.genkcdn.vn/thumb_w/660/2019/1/28/photo-1-1548639062426535722934.jpg", alt="")
                                                    a(href="#")._title Sếp cao cấp phụ trách phát triển chip khẳng định gắn bó với Apple, không chạy đua chức CEO của Intel
                                                - i++
    section
        .container
            .row
                .col-xl-6.col-lg-6.col-md-12.bg-lightest-grey.py-lg-5.py-md-4.py-3.mb-3
                    h2.text-center.text-uppercase.text-info.main-title About Us
                    p.text-lg-left.text-center Founded in 2008, Vutatech is the largest, most trusted online community for developers to learn, share their knowledge, and build their careers. More than 50 million professional and aspiring programmers visit Vutatech each month to help solve coding problems, develop new skills, and find job opportunities.
                        a(href="#") Xem chi tiết
                        
                .col-xl-6.col-lg-6.col-md-12.border-sm-top.border-dark-overlay.bg-light-grey.py-lg-5.py-md-4.py-3.mb-3
                    h2.text-center.text-uppercase.text-info.main-title Thông tin doanh nghiệp đối tác
                    v-slider(id="company", perview="1", auto="true", loop="true")
                        a.d-flex.align-items-center.flex-md-row.flex-column(href="#")
                            .col-md-8
                                .d-flex.align-items-center.flex-lg-row.flex-column
                                    .col-md-4.text-center
                                        img(src="/themes/vuta/images/logo/logo.png", alt="")
                                    .col-md-8.px-lg-0 Founded in 2008, Vutatech is the largest, most trusted online community for developers to learn, share their knowledge
                            .col-md-4.text-center
                                img(src="http://genknews.genkcdn.vn/thumb_w/660/2019/1/28/photo-1-1548639062426535722934.jpg", alt="")
                        a.d-flex.align-items-center.flex-md-row.flex-column(href="#")
                            .col-md-8
                                .d-flex.align-items-center.flex-lg-row.flex-column
                                    .col-md-4.text-center
                                        img(src="/themes/vuta/images/logo/logo.png", alt="")
                                    .col-md-8.px-lg-0 Founded in 2008, Vutatech is the largest, most trusted online community for developers to learn, share their knowledge
                            .col-md-4.text-center
                                img(src="http://genknews.genkcdn.vn/thumb_w/660/2019/1/28/photo-1-1548639062426535722934.jpg", alt="")