extends ../layout
block head
    nav#navbar
        include ../components/navbar
block content
    <nav aria-label="breadcrumb" class="rounded-0 mt-3">
        <ol class="breadcrumb container">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item d-md-block d-none"><a href="#">Library</a></li>
            <li class="breadcrumb-item active" aria-current="page">Apple cho biết đã có 900 triệu chiếc iPhone và 1,4 tỷ thiết bị đang hoạt động, đây là lý do vì sao con số này quan trọng hơn cả doanh số , Apple cho biết đã có 900 triệu chiếc iPhone và 1,4 tỷ thiết bị đang hoạt động, đây là lý do vì sao con số này quan trọng hơn cả doanh số</li>
        </ol>
    </nav>
    .container.py-lg-5.py-md-4.py-3.mt-3(data-sticky)
        .row
            .col-md-9
                .pb-2.border-bottom.border-muted
                    h1.text-xlarge.font-weight-bold.text-info.my-0
                        |Apple cho biết đã có 900 triệu chiếc iPhone và 1,4 tỷ thiết bị đang hoạt động, đây là lý do vì sao con số này quan trọng hơn cả doanh số 
                    ul.nolist.d-inline-flex
                        li.text-muted.text-small.px-2.py-1
                            i.fa.fa-clock-o.fa-fw
                            span 10:25 - 30/01/2019
                        li.text-muted.text-small.px-2.py-1
                            i.fa.fa-tags.fa-fw
                            a(href="").px-1 Event,
                            a(href="").px-1 Event,
                            a(href="").px-1 Event,
                            a(href="").px-1 Event,
                article.py-2
                    include ../components/demo_content
                .d-block.bg-light.py-2
                    ul.nolist.d-flex.flex-row.flex-wrap
                        - var tag = 1
                        while tag < 5
                            li.m-1
                                a.btn.btn-sm.btn-info.text-white
                                    |tag abc
                            - tag++

                .d-block.comment
                    .comment-widget_title Comment Facebook
                    .comment-widget_content
                        <iframe name="f10595c42a71a44" width="100%" height="100px" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" title="fb:comments Facebook Social Plugin" src="https://www.facebook.com/v2.0/plugins/comments.php?app_id=219528764735021&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter%2Fr%2Fvy-MhgbfL4v.js%3Fversion%3D44%23cb%3Dfc2401bc7e5c9c%26domain%3Dwww.digital-marketing-course.com.au%26origin%3Dhttps%253A%252F%252Fwww.digital-marketing-course.com.au%252Ff376b190bf405f4%26relation%3Dparent.parent&amp;color_scheme=light&amp;container_width=0&amp;height=100&amp;href=https%3A%2F%2Fwww.digital-marketing-course.com.au%2Fpage%2Ffacebook-comments-box-demo&amp;locale=en_GB&amp;numposts=5&amp;sdk=joey&amp;version=v2.0" style="border: none; visibility: visible; width:100%!important" class=""></iframe>
            .col-md-3
                .bg-light
                    .px-3
                        .main-box_sub.blue
                            span.box-arrow
                            span Tin tức liên quan
                    ul.nolist.text-small.mb-3
                        - let news = 1
                        while news < 4
                            li.p-2.border-bottom.border-muted
                                a(href="#") Apple cho biết đã có 900 triệu chiếc iPhone và 1,4 tỷ thiết bị đang hoạt động, đây là lý do vì sao con số này quan trọng hơn cả doanh số 
                                - news++
                .row.auto-margin-b-1.text-center
                    - let i = 1
                    while i < 4
                        a.d-block.col-md-12.col-sm-4.col-12(href="")
                            img(src="https://i.imgur.com/GsNCBNJ.png", alt="")
                            -i++

