extends ../layout
block head
    nav#navbar
        include ../components/navbar
block content
    .container.py-lg-5.py-md-4.py-3.news-list
        .row
            .col-lg-9.py-3.py-md-0.border-bottom.border-muted(data-sticky)
                .row
                    .col-lg-7.bg-white
                        .main-box_header.ml-md-3
                                h1.main-box_sub.blue
                                    span.box-arrow
                                    span Tin tức giáo dục
                        .card.news-top.border-0
                            a.card-img-top(href="3")
                                img(src='http://genknews.genkcdn.vn/thumb_w/660/2019/1/29/photo-1-1548747386326832864316.jpg', alt='Card image cap')
                            .card-body.border-bottom.border-muted
                                a(href="#")
                                    h2.text-normal.font-weight-bold.my-0.py-1.news-list_title.card-title Sốc: Tòa án Mỹ cáo buộc Huawei tội lừa đảo và ăn trộm các bí mật thương mại, chuẩn bị dẫn độ CFO 
                                p.card-text Ngoài ra, Xiaomi đã bắt đầu hé lộ các tính năng của Mi 9, một động thái...
                        ul.nolist.pb-3
                            - let a = 1
                            while a < 7
                                li.row.mb-2
                                    .col-4
                                        a.d-block(href="#").news-thumb
                                            img(src="http://genknews.genkcdn.vn/thumb_w/660/2019/1/29/photo-1-1548747386326832864316.jpg", alt="")
                                    .col-8.pl-lg-0.pl-3
                                        a(href="#")
                                            h2.text-normal.font-weight-bold.my-0.py-1.news-list_title Sốc: Tòa án Mỹ cáo buộc Huawei tội lừa đảo và ăn trộm các bí mật thương mại, chuẩn bị dẫn độ CFO 
                                        p.text-small.news-list_desc.news-list_desktop Ngoài ra, Xiaomi đã bắt đầu hé lộ các tính năng của Mi 9, một động thái...
                                - a++
                        include ../components/pagination
                    .col-lg-5
                        .main-box_header.ml-3.ml-md-0
                            h1.main-box_sub.blue
                                span.box-arrow
                                span Nổi bật trong tuần
                        ul.nolist.pb-3.d-flex.flex-wrap
                            - let b = 1
                            while b < 5
                                li.row.mb-2.bg-light.col-lg-12.col-md-6.col-sm-6.col-12
                                    .col-md-3
                                        a.d-block.news-thumb(href="#")
                                            img(src="http://genknews.genkcdn.vn/thumb_w/660/2019/1/29/photo-1-1548747386326832864316.jpg", alt="")
                                    .col-md-9.pl-lg-0.pl-3
                                        a(href="#")
                                            h2.text-xsmall.font-weight-bold.my-0.py-1 Sốc: Tòa án Mỹ cáo buộc Huawei tội lừa đảo và ăn trộm các bí mật thương mại, chuẩn bị dẫn độ CFO ..
                                - b++
                        .main-box_header
                            h1.main-box_sub.blue
                                span.box-arrow
                                span Tin Sự Kiện
                        ul.nolist.pb-3.row
                            - let c = 1
                            while c < 3 
                                li.row.mb-2.col-lg-12.col-md-6
                                    .card.news-top.border-0.px-lg-0.px-md-3
                                        a.card-img-top(href="3")
                                            img(src='http://genknews.genkcdn.vn/thumb_w/660/2019/1/29/photo-1-1548747386326832864316.jpg', alt='Card image cap')
                                        .card-body.bg-light.px-lg-3.px-md-1
                                            a(href="#")
                                                h2.text-normal.font-weight-bold.my-0.py-1.news-list_title.card-title Sốc: Tòa án Mỹ cáo buộc Huawei tội lừa đảo và ăn trộm các bí mật thương mại, chuẩn bị dẫn độ CFO 
                                            p.card-text Ngoài ra, Xiaomi đã bắt đầu hé lộ các tính năng của Mi 9, một động thái...
                                - c++
            .col-lg-3.text-center
                .row.auto-margin-b-1
                    - let i = 1
                    while i < 6
                        .col-lg-12.col-6.px-lg-3.px-2
                            a.d-block(href="")
                                img(src="https://i.imgur.com/GsNCBNJ.png", alt="")
                                -i++