extends ../about_layout
block content
    section
        h2.main-box_sub.origan
            span.box-arrow
            span Giám Đốc - Phó Giám Đốc
        .container-fluid.pb-3
            v-loading(url="/api/nhanvien")
                v-slider(id="about-teacher", perview="3", auto="true", loop="true" :loading="$store.state.Loading.loading")
                    .about-slider_item.slick-slide(v-for="(item, key) of $store.state.Loading.data" :key="key")
                        v-image.person-thumb(istype="other", :url="item.img", :data="item", modal-size="sm")
                            .person-thumb_desc.py-1
                                h3.font-weight-bold.text-center.text-normal.mb-0(v-text="item.name")
                                i.d-block.text-center.text-small(v-text="item.pos")
    v-modal
        div.d-block.bg-white.px-3(v-if="$store.state.Modal.data")
            .row.border-bottom.py-2.border-muted
                .col-3
                    img(:src="$store.state.Modal.data.img", alt="")
                .col-9
                    h3.my-0.text-normal.text-primary.font-weight-bold(v-text="$store.state.Modal.data.name")
                    i.text-secondary(v-text="$store.state.Modal.data.pos")
            div(v-text="$store.state.Modal.data.desc")

